<link href="../css/glyphicon.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="/student">

                <span class="glyphicon glyphicon-user"><p id="icon">Witaj <%= user.local.email %></</span>

            </a>

        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a>
            </li>
            <li><a href="/profile">Profil</a>
            </li>
            </li>
            <li><a href="/studentaccount">Konto</a>
            </li>
            <li><a href="/contact">Kontakt</a>
            </li>
            <li>
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Kursy i nauczyciele
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/course">Przegladaj kursy</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/joinedcourses">Twoje kursy</a>
                    </li>
                    
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/opinions">Opinie</a>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/teachersStudent">Nauczyciele</a>
                    </li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="/searchStudent">Szukaj</a>
                    </li>
                </ul>
            </li>






            <li><a href="/logout">Wyloguj</a>
            </li>

        </ul>

    </div>
</nav>