<link href="../css/glyphicon.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="/login">

                <span class="glyphicon glyphicon-home"><p id="icon">Nie zalogowano</</span>

            </a>

        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Strona glówna</a>
            </li>
            <li> <a id="login" href="/register">Zarejestruj</a>
            </li>
            <li> <a id="login" href="/login">Zaloguj</a>
            </li>

            <li><a href="/teachers">Nauczyciele</a>
            </li>
            <li><a href="/notloggedOpinions">Opinie</a>
                <li><a href="/course">Nasze kursy</a>
                </li>
                <li><a href="/search">Szukaj</a>
                </li>


        </ul>
        
        

</div>
    
</nav>