<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/headStudent.ejs %>
</head>

<body class="container">


    <header>
        <% include ./partials/headerStudent.ejs %>
    </header>
    <main>
        <div class="jumbotron">
            <h2>Dane zostaly zmienione!</h2>

        </div>
    </main>


    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>

</html>