<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/headStudent.ejs %>
</head>

<body class="container">


    <header>
        <% include ./partials/headerStudent.ejs %>
    </header>
    <main>
        <div class="jumbotron">
            <p>Kontakt:</p>
            <p>Tel 555-555-555</p>
            <p>Email - pracalic@gmail.com</p>
        </div>
    </main>


    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>

</html>