<!doctype html>
<html>

<head>
    <title>Home page</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    
 <%if(user !== undefined){ %>
   <% include /partials/headerIndexTeacher.ejs %>  
   <%} else {%>
   
      <% include /partials/notlogged.ejs %> 
       <% }%>
           
       
    </head>

<body class="container">



   <header>   <% include /partials/headIndex.ejs %> </header>
    <div class="jumbotron">
    Witamy na stronie głównej!
    

    </div>
</body>

</html>