<!doctype html>
<html>

<head>
    <title>Opinie</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    
 
      <% include /partials/notlogged.ejs %> 
    
           
       
    </head>

<body class="container">



   <header>   <% include /partials/headIndex.ejs %> </header>
    <div class="jumbotron">
    Aby zobaczyć opinie musisz być zalogowany!</br>
    <a id=" " href="/login">Zaloguj</a>

    </div>
</body>

</html>