<!DOCTYPE html>
<html lang="en">

<head>
    <Title>Szukaj</Title>
    <meta charset="UTF-8">
    <% include ./partials/headStudent.ejs %>
    <link href="../css/opinionsJumbotron.css" rel="stylesheet" type="text/css"/>
    <link href="../css/login.css" rel="stylesheet" type="text/css"/>
</head>

<body class="container">
<header>

    <% include ./partials/notlogged.ejs %>

</header>
<form action="/search" method="post" name="search-form">
    <div class="jumbotron">
        <div class="province">

            <label>Województwo</label>

            <select name="province">

            </select>
        </div>
        <br>
        <label>Miasto</label>
   <div class="citySearch">
            <select name="city">

            </select>
        </div>
        <br>
        <br>
        <label>Szkoła</label>

        <div class="education">

            <select name="level">

            </select>
        </div>
        <br>
        <div>
            <label>Subject</label>
            <select name="subject">
            </select>
        </div>
        <br>
        <div>
            <label>Price</label>
            <br/>
            <label>Minimum</label>
            <br/>
            <input name="minimum" type="number" min="0"/>
            <br/>
            <label>Maximum</label>
            <br/>
            <input name="maximum" type="number" min="0"/>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Search</button>
    </div>

</form>
</body>
<script src="/js/jquery.min.js"></script>
<script src="../scripts/search.js"></script>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</html>