<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Bardo">Bardo</option>
<option value="Bielawa">Bielawa</option>
<option value="Bierutów">Bierutów</option>
<option value="Bogatynia">Bogatynia</option>
<option value="Boguszów-Gorce">Boguszów-Gorce</option>
<option value="Bolesławie">Bolesławie</option>
<option value="Bolków">Bolków</option>
<option value="Brzeg Dolny">Brzeg Dolny</option>
<option value="Bystrzyca Kłodzka">Bystrzyca Kłodzka</option>
<option value="Chocianów">Chocianów</option>
<option value="Chojnów">Chojnów</option>
<option value="Duszniki-Zdrój">Duszniki-Zdrój</option>
<option value="Dzierżoniów">Dzierżoniów</option>
<option value="Głogów">Głogów</option>
<option value="Głuszyca">Głuszyca</option>
<option value="Góra">Góra</option>
<option value="Gryfów Śląski">Gryfów Śląski</option>
<option value="Jawor">Jawor</option>
<option value="Jaworzyna Śląska">Jaworzyna Śląska</option>
<option value="Jedlina-Zdrój">Jedlina-Zdrój</option>
<option value="Jelcz-Laskowice">Jelcz-Laskowice</option>
<option value="Jelenia Góra">Jelenia Góra</option>
<option value="Kamienna Góra">Kamienna Góra</option>
<option value="Karpacz">Karpacz</option>
<option value="Kąty Wrocławskie">Kąty Wrocławskie</option>
<option value="Kłodzko">Kłodzko</option>
<option value="Kowary">Kowary</option>
<option value="Kudowa-Zdrój">Kudowa-Zdrój</option>
<option value="Lądek-Zdrój">Lądek-Zdrój</option>
<option value="Legnica">Legnica</option>
<option value="Leśna">Leśna</option>
<option value="Lubań">Lubań</option>
<option value="Lubawka">Lubawka</option>
<option value="Lubin">Lubin</option>
<option value="Lubomierz">Lubomierz</option>
<option value="Lwówek Śląski">Lwówek Śląski</option>
<option value="Mieroszów">Mieroszów</option>
<option value="Międzybórz">Międzybórz</option>
<option value="Międzylesie">Międzylesie</option>
<option value="Milicz">Milicz</option>
<option value="Mirsk">Mirsk</option>
<option value="Niemcza">Niemcza</option>
<option value="Nowa Ruda">Nowa Ruda</option>
<option value="Nowogrodziec">Nowogrodziec</option>
<option value="Oborniki Śląskie">Oborniki Śląskie</option>
<option value="Oleśnica">Oleśnica</option>
<option value="Olszyna">Olszyna</option>
<option value="Oława">Oława</option>
<option value="Piechowice">Piechowice</option>
<option value="Pieńsk">Pieńsk</option>
<option value="Pieszyce">Pieszyce</option>
<option value="Piława Górna">Piława Górna</option>
<option value="Polanica-Zdrój">Polanica-Zdrój</option>
<option value="Polkowice">Polkowice</option>
<option value="Prochowice">Prochowice</option>
<option value="Prusice">Prusice</option>
<option value="Przemków">Przemków</option>
<option value="Radków">Radków</option>
<option value="Siechnice">Siechnice</option>
<option value="Sobótka">Sobótka</option>
<option value="Stronie Śląskie">Stronie Śląskie</option>
<option value="Strzegom">Strzegom</option>
<option value="Strzelin">Strzelin</option>
<option value="Syców">Syców</option>
<option value="Szczawno-Zdrój">Szczawno-Zdrój</option>
<option value="Szczytna">Szczytna</option>
<option value="Szklarska Poręba">Szklarska Poręba</option>
<option value="Ścinawa">Ścinawa</option>
<option value="Środa Śląska">Środa Śląska</option>
<option value="Świdnica">Świdnica</option>
<option value="Świebodzice">Świebodzice</option>
<option value="Świeradów-Zdrój">Świeradów-Zdrój</option>
<option value="Świerzawa">Świerzawa</option>
<option value="Trzebnica">Trzebnica</option>
<option value="Twardogóra">Twardogóra</option>
<option value="Wałbrzych">Wałbrzych</option>
<option value="Wąsosz">Wąsosz</option>
<option value="Węgliniec">Węgliniec</option>
<option value="Wiązów">Wiązów</option>
<option value="Wleń">Wleń</option>
<option value="Wojcieszów">Wojcieszów</option>
<option value="Wołów">Wołów</option>
<option value="Wrocław">Wrocław</option>
<option value="Zawidów">Zawidów</option>
<option value="Ząbkowice Śląskie">Ząbkowice Śląskie</option>
<option value="Zgorzelec">Zgorzelec</option>
<option value="Ziębice">Ziębice</option>
<option value="Złotoryja">Złotoryja</option>
<option value="Złoty Stok">Złoty Stok</option>
<option value="Żarów">Żarów</option>
<option value="Żmigród">Żmigród</option>
</body>
</html>