<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Augustów">Augustów</option>
<option value="Białystok">Białystok</option>
<option value="Bielsk Podlaski">Bielsk Podlaski</option>
<option value="Brańsk">Brańsk</option>
<option value="Choroszcz">Choroszcz</option>
<option value="Ciechanowiec">Ciechanowiec</option>
<option value="Czarna Białostocka">Czarna Białostocka</option>
<option value="Czyżew">Czyżew</option>
<option value="Dąbrowa Białostocka">Dąbrowa Białostocka</option>
<option value="Drohiczyn">Drohiczyn</option>
<option value="Goniądz">Goniądz</option>
<option value="Grajewo">Grajewo</option>
<option value="Hajnówka">Hajnówka</option>
<option value="Jedwabne">Jedwabne</option>
<option value="Kleszczele">Kleszczele</option>
<option value="Knyszyn">Knyszyn</option>
<option value="Kolno">Kolno</option>
<option value="Krynki">Krynki</option>
<option value="Lipsk">Lipsk</option>
<option value="Łapy">Łapy</option>
<option value="Łomża">Łomża</option>
<option value="Michałowo">Michałowo</option>
<option value="Mońki">Mońki</option>
<option value="Nowogród">Nowogród</option>
<option value="Rajgród">Rajgród</option>
<option value="Sejny">Sejny</option>
<option value="Siemiatycze">Siemiatycze</option>
<option value="Sokółka">Sokółka</option>
<option value="Stawiski">Stawiski</option>
<option value="Suchowola">Suchowola</option>
<option value="Supraśl">Supraśl</option>
<option value="Suraż">Suraż</option>
<option value="Suwałki">Suwałki</option>
<option value="Szczuczyn">Szczuczyn</option>
<option value="Szepietowo">Szepietowo</option>
<option value="Tykocin">Tykocin</option>
<option value="Wasilków">Wasilków</option>
<option value="Wysokie Mazowieckie">Wysokie Mazowieckie</option>
<option value="Zabłudów">Zabłudów</option>
<option value="Zambrów">Zambrów</option>
</body>
</html>