<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Augustów" />
Augustów
<input type="checkbox" name="city" value="Białystok" />
Białystok
<input type="checkbox" name="city" value="Bielsk Podlaski" />
Bielsk Podlaski
<input type="checkbox" name="city" value="Brańsk" />
Brańsk
<input type="checkbox" name="city" value="Choroszcz" />
Choroszcz
<input type="checkbox" name="city" value="Ciechanowiec" />
Ciechanowiec
<input type="checkbox" name="city" value="Czarna Białostocka" />
Czarna Białostocka
<input type="checkbox" name="city" value="Czyżew" />
Czyżew
<input type="checkbox" name="city" value="Dąbrowa Białostocka" />
Dąbrowa Białostocka
<input type="checkbox" name="city" value="Drohiczyn" />
Drohiczyn
<input type="checkbox" name="city" value="Goniądz" />
Goniądz
<input type="checkbox" name="city" value="Grajewo" />
Grajewo
<input type="checkbox" name="city" value="Hajnówka" />
Hajnówka
<input type="checkbox" name="city" value="Jedwabne" />
Jedwabne
<input type="checkbox" name="city" value="Kleszczele" />
Kleszczele
<input type="checkbox" name="city" value="Knyszyn" />
Knyszyn
<input type="checkbox" name="city" value="Kolno" />
Kolno
<input type="checkbox" name="city" value="Krynki" />
Krynki
<input type="checkbox" name="city" value="Lipsk" />
Lipsk
<input type="checkbox" name="city" value="Łapy" />
Łapy
<input type="checkbox" name="city" value="Łomża" />
Łomża
<input type="checkbox" name="city" value="Michałowo" />
Michałowo
<input type="checkbox" name="city" value="Mońki" />
Mońki
<input type="checkbox" name="city" value="Nowogród" />
Nowogród
<input type="checkbox" name="city" value="Rajgród" />
Rajgród
<input type="checkbox" name="city" value="Sejny" />
Sejny
<input type="checkbox" name="city" value="Siemiatycze" />
Siemiatycze
<input type="checkbox" name="city" value="Sokółka" />
Sokółka
<input type="checkbox" name="city" value="Stawiski" />
Stawiski
<input type="checkbox" name="city" value="Suchowola" />
Suchowola
<input type="checkbox" name="city" value="Supraśl" />
Supraśl
<input type="checkbox" name="city" value="Suraż" />
Suraż
<input type="checkbox" name="city" value="Suwałki" />
Suwałki
<input type="checkbox" name="city" value="Szczuczyn" />
Szczuczyn
<input type="checkbox" name="city" value="Szepietowo" />
Szepietowo
<input type="checkbox" name="city" value="Tykocin" />
Tykocin
<input type="checkbox" name="city" value="Wasilków" />
Wasilków
<input type="checkbox" name="city" value="Wysokie Mazowieckie" />
Wysokie Mazowieckie
<input type="checkbox" name="city" value="Zabłudów" />
Zabłudów
<input type="checkbox" name="city" value="Zambrów" />
Zambrów
</body>
</html>