<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Brusy">Brusy</option>
<option value="Bytów">Bytów</option>
<option value="Chojnice">Chojnice</option>
<option value="Czarna Woda">Czarna Woda</option>
<option value="Czarne">Czarne</option>
<option value="Czersk">Czersk</option>
<option value="Człuchów">Człuchów</option>
<option value="Debrzno">Debrzno</option>
<option value="Dzierzgoń">Dzierzgoń</option>
<option value="Gdańsk">Gdańsk</option>
<option value="Gdynia">Gdynia</option>
<option value="Gniew">Gniew</option>
<option value="Hel">Hel</option>
<option value="Jastarnia">Jastarnia</option>
<option value="Kartuzy">Kartuzy</option>
<option value="Kępice">Kępice</option>
<option value="Kościerzyna">Kościerzyna</option>
<option value="Krynica Morska">Krynica Morska</option>
<option value="Kwidzyn">Kwidzyn</option>
<option value="Lębork">Lębork</option>
<option value="Łeba">Łeba</option>
<option value="Malbork">Malbork</option>
<option value="Miastko">Miastko</option>
<option value="Nowy Dwór Gdański">Nowy Dwór Gdański</option>
<option value="Nowy Staw">Nowy Staw</option>
<option value="Pelplin">Pelplin</option>
<option value="Prabuty">Prabuty</option>
<option value="Pruszcz Gdański">Pruszcz Gdański</option>
<option value="Puck">Puck</option>
<option value="Reda">Reda</option>
<option value="Rumia">Rumia</option>
<option value="Skarszewy">Skarszewy</option>
<option value="Skórcz">Skórcz</option>
<option value="Słupsk">Słupsk</option>
<option value="Sopot">Sopot</option>
<option value="Starogard Gdański">Starogard Gdański</option>
<option value="Sztum">Sztum</option>
<option value="Tczew">Tczew</option>
<option value="Ustka">Ustka</option>
<option value="Wejherowo">Wejherowo</option>
<option value="Władysławowo">Władysławowo</option>
<option value="Żukowo">Żukowo</option>
</body>
</html>