<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Brusy" />
Brusy
<input type="checkbox" name="city" value="Bytów" />
Bytów
<input type="checkbox" name="city" value="Chojnice" />
Chojnice
<input type="checkbox" name="city" value="Czarna Woda" />
Czarna Woda
<input type="checkbox" name="city" value="Czarne" />
Czarne
<input type="checkbox" name="city" value="Czersk" />
Czersk
<input type="checkbox" name="city" value="Człuchów" />
Człuchów
<input type="checkbox" name="city" value="Debrzno" />
Debrzno
<input type="checkbox" name="city" value="Dzierzgoń" />
Dzierzgoń
<input type="checkbox" name="city" value="Gdańsk" />
Gdańsk
<input type="checkbox" name="city" value="Gdynia" />
Gdynia
<input type="checkbox" name="city" value="Gniew" />
Gniew
<input type="checkbox" name="city" value="Hel" />
Hel
<input type="checkbox" name="city" value="Jastarnia" />
Jastarnia
<input type="checkbox" name="city" value="Kartuzy" />
Kartuzy
<input type="checkbox" name="city" value="Kępice" />
Kępice
<input type="checkbox" name="city" value="Kościerzyna" />
Kościerzyna
<input type="checkbox" name="city" value="Krynica Morska" />
Krynica Morska
<input type="checkbox" name="city" value="Kwidzyn" />
Kwidzyn
<input type="checkbox" name="city" value="Lębork" />
Lębork
<input type="checkbox" name="city" value="Łeba" />
Łeba
<input type="checkbox" name="city" value="Malbork" />
Malbork
<input type="checkbox" name="city" value="Miastko" />
Miastko
<input type="checkbox" name="city" value="Nowy Dwór Gdański" />
Nowy Dwór Gdański
<input type="checkbox" name="city" value="Nowy Staw" />
Nowy Staw
<input type="checkbox" name="city" value="Pelplin" />
Pelplin
<input type="checkbox" name="city" value="Prabuty" />
Prabuty
<input type="checkbox" name="city" value="Pruszcz Gdański" />
Pruszcz Gdański
<input type="checkbox" name="city" value="Puck" />
Puck
<input type="checkbox" name="city" value="Reda" />
Reda
<input type="checkbox" name="city" value="Rumia" />
Rumia
<input type="checkbox" name="city" value="Skarszewy" />
Skarszewy
<input type="checkbox" name="city" value="Skórcz" />
Skórcz
<input type="checkbox" name="city" value="Słupsk" />
Słupsk
<input type="checkbox" name="city" value="Sopot" />
Sopot
<input type="checkbox" name="city" value="Starogard Gdański" />
Starogard Gdański
<input type="checkbox" name="city" value="Sztum" />
Sztum
<input type="checkbox" name="city" value="Tczew" />
Tczew
<input type="checkbox" name="city" value="Ustka" />
Ustka
<input type="checkbox" name="city" value="Wejherowo" />
Wejherowo
<input type="checkbox" name="city" value="Władysławowo" />
Władysławowo
<input type="checkbox" name="city" value="Żukowo" />
Żukowo
</body>
</html>