<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Będzin" />
Będzin
<input type="checkbox" name="city" value="Bielsko-Biała" />
Bielsko-Biała
<input type="checkbox" name="city" value="Bieruń" />
Bieruń
<input type="checkbox" name="city" value="Blachownia" />
Blachownia
<input type="checkbox" name="city" value="Bytom" />
Bytom
<input type="checkbox" name="city" value="Chorzów" />
Chorzów
<input type="checkbox" name="city" value="Cieszyn" />
Cieszyn
<input type="checkbox" name="city" value="Czechowice-Dziedzice" />
Czechowice-Dziedzice
<input type="checkbox" name="city" value="Czeladź" />
Czeladź
<input type="checkbox" name="city" value="Czerwionka-Leszczyny" />
Czerwionka-Leszczyny
<input type="checkbox" name="city" value="Częstochowa" />
Częstochowa
<input type="checkbox" name="city" value="Dąbrowa Górnicza" />
Dąbrowa Górnicza
<input type="checkbox" name="city" value="Gliwice" />
Gliwice
<input type="checkbox" name="city" value="Imielin" />
Imielin
<input type="checkbox" name="city" value="Jastrzębie-Zdrój" />
Jastrzębie-Zdrój
<input type="checkbox" name="city" value="Jaworzno" />
Jaworzno
<input type="checkbox" name="city" value="Kalety" />
Kalety
<input type="checkbox" name="city" value="Katowice" />
Katowice
<input type="checkbox" name="city" value="Kłobuck" />
Kłobuck
<input type="checkbox" name="city" value="Knurów" />
Knurów
<input type="checkbox" name="city" value="Koniecpol" />
Koniecpol
<input type="checkbox" name="city" value="Koziegłowy" />
Koziegłowy
<input type="checkbox" name="city" value="Krzanowice" />
Krzanowice
<input type="checkbox" name="city" value="Krzepice" />
Krzepice
<input type="checkbox" name="city" value="Kuźnia Raciborska" />
Kuźnia Raciborska
<input type="checkbox" name="city" value="Lędziny" />
Lędziny
<input type="checkbox" name="city" value="Lubliniec" />
Lubliniec
<input type="checkbox" name="city" value="Łaziska Górne" />
Łaziska Górne
<input type="checkbox" name="city" value="Łazy" />
Łazy
<input type="checkbox" name="city" value="Miasteczko Śląskie" />
Miasteczko Śląskie
<input type="checkbox" name="city" value="Mikołów" />
Mikołów
<input type="checkbox" name="city" value="Mysłowice" />
Mysłowice
<input type="checkbox" name="city" value="Myszków" />
Myszków
<input type="checkbox" name="city" value="Ogrodzieniec" />
Ogrodzieniec
<input type="checkbox" name="city" value="Orzesze" />
Orzesze
<input type="checkbox" name="city" value="Piekary Śląskie" />
Piekary Śląskie
<input type="checkbox" name="city" value="Pilica" />
Pilica
<input type="checkbox" name="city" value="Poręba" />
Poręba
<input type="checkbox" name="city" value="Pszczyna" />
Pszczyna
<input type="checkbox" name="city" value="Pszów" />
Pszów
<input type="checkbox" name="city" value="Pyskowice" />
Pyskowice
<input type="checkbox" name="city" value="Racibórz" />
Racibórz
<input type="checkbox" name="city" value="Radlin" />
Radlin
<input type="checkbox" name="city" value="Radzionków" />
Radzionków
<input type="checkbox" name="city" value="Ruda Śląska" />
Ruda Śląska
<input type="checkbox" name="city" value="Rybnik" />
Rybnik
<input type="checkbox" name="city" value="Rydułtowy" />
Rydułtowy
<input type="checkbox" name="city" value="Siemianowice Śląskie" />
Siemianowice Śląskie
<input type="checkbox" name="city" value="Siewierz" />
Siewierz
<input type="checkbox" name="city" value="Skoczów" />
Skoczów
<input type="checkbox" name="city" value="Sławków" />
Sławków
<input type="checkbox" name="city" value="Sosnowiec" />
Sosnowiec
<input type="checkbox" name="city" value="Sośnicowice" />
Sośnicowice
<input type="checkbox" name="city" value="Strumień" />
Strumień
<input type="checkbox" name="city" value="Szczekociny" />
Szczekociny
<input type="checkbox" name="city" value="Szczyrk" />
Szczyrk
<input type="checkbox" name="city" value="Świętochłowice" />
Świętochłowice
<input type="checkbox" name="city" value="Tarnowskie Góry" />
Tarnowskie Góry
<input type="checkbox" name="city" value="Toszek" />
Toszek
<input type="checkbox" name="city" value="Tychy" />
Tychy
<input type="checkbox" name="city" value="Ustroń" />
Ustroń
<input type="checkbox" name="city" value="Wilamowice" />
Wilamowice
<input type="checkbox" name="city" value="Wisła" />
Wisła
<input type="checkbox" name="city" value="Wodzisław Śląski" />
Wodzisław Śląski
<input type="checkbox" name="city" value="Wojkowice" />
Wojkowice
<input type="checkbox" name="city" value="Woźniki" />
Woźniki
<input type="checkbox" name="city" value="Zabrze" />
Zabrze
<input type="checkbox" name="city" value="Zawiercie" />
Zawiercie
<input type="checkbox" name="city" value="Żarki" />
Żarki
<input type="checkbox" name="city" value="Żory" />
Żory
<input type="checkbox" name="city" value="Żywiec" />
Żywiec
</body>
</html>