<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Będzin">Będzin</option>
<option value="Bielsko-Biała">Bielsko-Biała</option>
<option value="Bieruń">Bieruń</option>
<option value="Blachownia">Blachownia</option>
<option value="Bytom">Bytom</option>
<option value="Chorzów">Chorzów</option>
<option value="Cieszyn">Cieszyn</option>
<option value="Czechowice-Dziedzice">Czechowice-Dziedzice</option>
<option value="Czeladź">Czeladź</option>
<option value="Czerwionka-Leszczyny">Czerwionka-Leszczyny</option>
<option value="Częstochowa">Częstochowa</option>
<option value="Dąbrowa Górnicza">Dąbrowa Górnicza</option>
<option value="Gliwice">Gliwice</option>
<option value="Imielin">Imielin</option>
<option value="Jastrzębie-Zdrój">Jastrzębie-Zdrój</option>
<option value="Jaworzno">Jaworzno</option>
<option value="Kalety">Kalety</option>
<option value="Katowice">Katowice</option>
<option value="Kłobuck">Kłobuck</option>
<option value="Knurów">Knurów</option>
<option value="Koniecpol">Koniecpol</option>
<option value="Koziegłowy">Koziegłowy</option>
<option value="Krzanowice">Krzanowice</option>
<option value="Krzepice">Krzepice</option>
<option value="Kuźnia Raciborska">Kuźnia Raciborska</option>
<option value="Lędziny">Lędziny</option>
<option value="Lubliniec">Lubliniec</option>
<option value="Łaziska Górne">Łaziska Górne</option>
<option value="Łazy">Łazy</option>
<option value="Miasteczko Śląskie">Miasteczko Śląskie</option>
<option value="Mikołów">Mikołów</option>
<option value="Mysłowice">Mysłowice</option>
<option value="Myszków">Myszków</option>
<option value="Ogrodzieniec">Ogrodzieniec</option>
<option value="Orzesze">Orzesze</option>
<option value="Piekary Śląskie">Piekary Śląskie</option>
<option value="Pilica">Pilica</option>
<option value="Poręba">Poręba</option>
<option value="Pszczyna">Pszczyna</option>
<option value="Pszów">Pszów</option>
<option value="Pyskowice">Pyskowice</option>
<option value="Racibórz">Racibórz</option>
<option value="Radlin">Radlin</option>
<option value="Radzionków">Radzionków</option>
<option value="Ruda Śląska">Ruda Śląska</option>
<option value="Rybnik">Rybnik</option>
<option value="Rydułtowy">Rydułtowy</option>
<option value="Siemianowice Śląskie">Siemianowice Śląskie</option>
<option value="Siewierz">Siewierz</option>
<option value="Skoczów">Skoczów</option>
<option value="Sławków">Sławków</option>
<option value="Sosnowiec">Sosnowiec</option>
<option value="Sośnicowice">Sośnicowice</option>
<option value="Strumień">Strumień</option>
<option value="Szczekociny">Szczekociny</option>
<option value="Szczyrk">Szczyrk</option>
<option value="Świętochłowice">Świętochłowice</option>
<option value="Tarnowskie Góry">Tarnowskie Góry</option>
<option value="Toszek">Toszek</option>
<option value="Tychy">Tychy</option>
<option value="Ustroń">Ustroń</option>
<option value="Wilamowice">Wilamowice</option>
<option value="Wisła">Wisła</option>
<option value="Wodzisław Śląski">Wodzisław Śląski</option>
<option value="Wojkowice">Wojkowice</option>
<option value="Woźniki">Woźniki</option>
<option value="Zabrze">Zabrze</option>
<option value="Zawiercie">Zawiercie</option>
<option value="Żarki">Żarki</option>
<option value="Żory">Żory</option>
<option value="Żywiec">Żywiec</option>
</body>
</html>