<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Bodzentyn" />
Bodzentyn
<input type="checkbox" name="city" value="Busko-Zdrój" />
Busko-Zdrój
<input type="checkbox" name="city" value="Chęciny" />
Chęciny
<input type="checkbox" name="city" value="Chmielnik" />
Chmielnik
<input type="checkbox" name="city" value="Ćmielów" />
Ćmielów
<input type="checkbox" name="city" value="Daleszyce" />
Daleszyce
<input type="checkbox" name="city" value="Działoszyce" />
Działoszyce
<input type="checkbox" name="city" value="Jędrzejów" />
Jędrzejów
<input type="checkbox" name="city" value="Kazimierza Wielka" />
Kazimierza Wielka
<input type="checkbox" name="city" value="Kielce" />
Kielce
<input type="checkbox" name="city" value="Końskie" />
Końskie
<input type="checkbox" name="city" value="Koprzywnica" />
Koprzywnica
<input type="checkbox" name="city" value="Kunów" />
Kunów
<input type="checkbox" name="city" value="Małogoszcz" />
Małogoszcz
<input type="checkbox" name="city" value="Opatów" />
Opatów
<input type="checkbox" name="city" value="Osiek" />
Osiek
<input type="checkbox" name="city" value="Ostrowiec Świętokrzyski" />
Ostrowiec Świętokrzyski
<input type="checkbox" name="city" value="Ożarów" />
Ożarów
<input type="checkbox" name="city" value="Pińczów" />
Pińczów
<input type="checkbox" name="city" value="Połaniec" />
Połaniec
<input type="checkbox" name="city" value="Sandomierz" />
Sandomierz
<input type="checkbox" name="city" value="Sędziszów" />
Sędziszów
<input type="checkbox" name="city" value="Skalbmierz" />
Skalbmierz
<input type="checkbox" name="city" value="Skarżysko-Kamienna" />
Skarżysko-Kamienna
<input type="checkbox" name="city" value="Starachowice" />
Starachowice
<input type="checkbox" name="city" value="Staszów" />
Staszów
<input type="checkbox" name="city" value="Stąporków" />
Stąporków
<input type="checkbox" name="city" value="Stopnica" />
Stopnica
<input type="checkbox" name="city" value="Suchedniów" />
Suchedniów
<input type="checkbox" name="city" value="Wąchock" />
Wąchock
<input type="checkbox" name="city" value="Włoszczowa" />
Włoszczowa
<input type="checkbox" name="city" value="Zawichost" />
Zawichost
</body>
</html>