<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Bodzentyn">Bodzentyn</option>
<option value="Busko-Zdrój">Busko-Zdrój</option>
<option value="Chęciny">Chęciny</option>
<option value="Chmielnik">Chmielnik</option>
<option value="Ćmielów">Ćmielów</option>
<option value="Daleszyce">Daleszyce</option>
<option value="Działoszyce">Działoszyce</option>
<option value="Jędrzejów">Jędrzejów</option>
<option value="Kazimierza Wielka">Kazimierza Wielka</option>
<option value="Kielce">Kielce</option>
<option value="Końskie">Końskie</option>
<option value="Koprzywnica">Koprzywnica</option>
<option value="Kunów">Kunów</option>
<option value="Małogoszcz">Małogoszcz</option>
<option value="Opatów">Opatów</option>
<option value="Osiek">Osiek</option>
<option value="Ostrowiec Świętokrzyski">Ostrowiec Świętokrzyski</option>
<option value="Ożarów">Ożarów</option>
<option value="Pińczów">Pińczów</option>
<option value="Połaniec">Połaniec</option>
<option value="Sandomierz">Sandomierz</option>
<option value="Sędziszów">Sędziszów</option>
<option value="Skalbmierz">Skalbmierz</option>
<option value="Skarżysko-Kamienna">Skarżysko-Kamienna</option>
<option value="Starachowice">Starachowice</option>
<option value="Staszów">Staszów</option>
<option value="Stąporków">Stąporków</option>
<option value="Stopnica">Stopnica</option>
<option value="Suchedniów">Suchedniów</option>
<option value="Wąchock">Wąchock</option>
<option value="Włoszczowa">Włoszczowa</option>
<option value="Zawichost">Zawichost</option>
</body>
</html>