<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Barczewo" />
Barczewo
<input type="checkbox" name="city" value="Bartoszyce" />
Bartoszyce
<input type="checkbox" name="city" value="Biała Piska" />
Biała Piska
<input type="checkbox" name="city" value="Biskupiec" />
Biskupiec
<input type="checkbox" name="city" value="Bisztynek" />
Bisztynek
<input type="checkbox" name="city" value="Braniewo" />
Braniewo
<input type="checkbox" name="city" value="Dobre Miasto" />
Dobre Miasto
<input type="checkbox" name="city" value="Działdowo" />
Działdowo
<input type="checkbox" name="city" value="Elbląg" />
Elbląg
<input type="checkbox" name="city" value="Ełk" />
Ełk
<input type="checkbox" name="city" value="Frombork" />
Frombork
<input type="checkbox" name="city" value="Giżycko" />
Giżycko
<input type="checkbox" name="city" value="Gołdap" />
Gołdap
<input type="checkbox" name="city" value="Górowo Iławeckie" />
Górowo Iławeckie
<input type="checkbox" name="city" value="Iława" />
Iława
<input type="checkbox" name="city" value="Jeziorany" />
Jeziorany
<input type="checkbox" name="city" value="Kętrzyn" />
Kętrzyn
<input type="checkbox" name="city" value="Kisielice" />
Kisielice
<input type="checkbox" name="city" value="Korsze" />
Korsze
<input type="checkbox" name="city" value="Lidzbark" />
Lidzbark
<input type="checkbox" name="city" value="Lidzbark Warmiński" />
Lidzbark Warmiński
<input type="checkbox" name="city" value="Lubawa" />
Lubawa
<input type="checkbox" name="city" value="Mikołajki" />
Mikołajki
<input type="checkbox" name="city" value="Miłakowo" />
Miłakowo
<input type="checkbox" name="city" value="Miłomłyn" />
Miłomłyn
<input type="checkbox" name="city" value="Młynary" />
Młynary
<input type="checkbox" name="city" value="Morąg" />
Morąg
<input type="checkbox" name="city" value="Mrągowo" />
Mrągowo
<input type="checkbox" name="city" value="Nidzica" />
Nidzica
<input type="checkbox" name="city" value="Nowe Miasto Lubawskie" />
Nowe Miasto Lubawskie
<input type="checkbox" name="city" value="Olecko" />
Olecko
<input type="checkbox" name="city" value="Olsztyn" />
Olsztyn
<input type="checkbox" name="city" value="Olsztynek" />
Olsztynek
<input type="checkbox" name="city" value="Orneta" />
Orneta
<input type="checkbox" name="city" value="Orzysz" />
Orzysz
<input type="checkbox" name="city" value="Ostróda" />
Ostróda
<input type="checkbox" name="city" value="Pasłęk" />
Pasłęk
<input type="checkbox" name="city" value="Pasym" />
Pasym
<input type="checkbox" name="city" value="Pieniężno" />
Pieniężno
<input type="checkbox" name="city" value="Pisz" />
Pisz
<input type="checkbox" name="city" value="Reszel" />
Reszel
<input type="checkbox" name="city" value="Ruciane-Nida" />
Ruciane-Nida
<input type="checkbox" name="city" value="Ryn" />
Ryn
<input type="checkbox" name="city" value="Sępopol" />
Sępopol
<input type="checkbox" name="city" value="Susz" />
Susz
<input type="checkbox" name="city" value="Szczytno" />
Szczytno
<input type="checkbox" name="city" value="Tolkmicko" />
Tolkmicko
<input type="checkbox" name="city" value="Węgorzewo" />
Węgorzewo
<input type="checkbox" name="city" value="Zalewo" />
Zalewo
</body>
</html>