<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Barczewo">Barczewo</option>
<option value="Bartoszyce">Bartoszyce</option>
<option value="Biała Piska">Biała Piska</option>
<option value="Biskupiec">Biskupiec</option>
<option value="Bisztynek">Bisztynek</option>
<option value="Braniewo">Braniewo</option>
<option value="Dobre Miasto">Dobre Miasto</option>
<option value="Działdowo">Działdowo</option>
<option value="Elbląg">Elbląg</option>
<option value="Ełk">Ełk</option>
<option value="Frombork">Frombork</option>
<option value="Giżycko">Giżycko</option>
<option value="Gołdap">Gołdap</option>
<option value="Górowo Iławeckie">Górowo Iławeckie</option>
<option value="Iława">Iława</option>
<option value="Jeziorany">Jeziorany</option>
<option value="Kętrzyn">Kętrzyn</option>
<option value="Kisielice">Kisielice</option>
<option value="Korsze">Korsze</option>
<option value="Lidzbark">Lidzbark</option>
<option value="Lidzbark Warmiński">Lidzbark Warmiński</option>
<option value="Lubawa">Lubawa</option>
<option value="Mikołajki">Mikołajki</option>
<option value="Miłakowo">Miłakowo</option>
<option value="Miłomłyn">Miłomłyn</option>
<option value="Młynary">Młynary</option>
<option value="Morąg">Morąg</option>
<option value="Mrągowo">Mrągowo</option>
<option value="Nidzica">Nidzica</option>
<option value="Nowe Miasto Lubawskie">Nowe Miasto Lubawskie</option>
<option value="Olecko">Olecko</option>
<option value="Olsztyn">Olsztyn</option>
<option value="Olsztynek">Olsztynek</option>
<option value="Orneta">Orneta</option>
<option value="Orzysz">Orzysz</option>
<option value="Ostróda">Ostróda</option>
<option value="Pasłęk">Pasłęk</option>
<option value="Pasym">Pasym</option>
<option value="Pieniężno">Pieniężno</option>
<option value="Pisz">Pisz</option>
<option value="Reszel">Reszel</option>
<option value="Ruciane-Nida">Ruciane-Nida</option>
<option value="Ryn">Ryn</option>
<option value="Sępopol">Sępopol</option>
<option value="Susz">Susz</option>
<option value="Szczytno">Szczytno</option>
<option value="Tolkmicko">Tolkmicko</option>
<option value="Węgorzewo">Węgorzewo</option>
<option value="Zalewo">Zalewo</option>
</body>
</html>