<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Bojanowo" />
Bojanowo
<input type="checkbox" name="city" value="Borek Wielkopolski" />
Borek Wielkopolski
<input type="checkbox" name="city" value="Buk" />
Buk
<input type="checkbox" name="city" value="Chocz" />
Chocz
<input type="checkbox" name="city" value="Chodzież" />
Chodzież
<input type="checkbox" name="city" value="Czarnków" />
Czarnków
<input type="checkbox" name="city" value="Czempiń" />
Czempiń
<input type="checkbox" name="city" value="Czerniejewo" />
Czerniejewo
<input type="checkbox" name="city" value="Dąbie" />
Dąbie
<input type="checkbox" name="city" value="Dobra" />
Dobra
<input type="checkbox" name="city" value="Dobrzyca" />
Dobrzyca
<input type="checkbox" name="city" value="Dolsk" />
Dolsk
<input type="checkbox" name="city" value="Gniezno" />
Gniezno
<input type="checkbox" name="city" value="Golina" />
Golina
<input type="checkbox" name="city" value="Gołańcz" />
Gołańcz
<input type="checkbox" name="city" value="Gostyń" />
Gostyń
<input type="checkbox" name="city" value="Grabów nad Prosną" />
Grabów nad Prosną
<input type="checkbox" name="city" value="Grodzisk Wielkopolski" />
Grodzisk Wielkopolski
<input type="checkbox" name="city" value="Jarocin" />
Jarocin
<input type="checkbox" name="city" value="Jastrowie" />
Jastrowie
<input type="checkbox" name="city" value="Jutrosin" />
Jutrosin
<input type="checkbox" name="city" value="Kalisz" />
Kalisz
<input type="checkbox" name="city" value="Kępno" />
Kępno
<input type="checkbox" name="city" value="Kleczew" />
Kleczew
<input type="checkbox" name="city" value="Kłecko" />
Kłecko
<input type="checkbox" name="city" value="Kłodawa" />
Kłodawa
<input type="checkbox" name="city" value="Kobylin" />
Kobylin
<input type="checkbox" name="city" value="Koło" />
Koło
<input type="checkbox" name="city" value="Konin" />
Konin
<input type="checkbox" name="city" value="Kostrzyn" />
Kostrzyn
<input type="checkbox" name="city" value="Kościan" />
Kościan
<input type="checkbox" name="city" value="Koźmin Wielkopolski" />
Koźmin Wielkopolski
<input type="checkbox" name="city" value="Kórnik" />
Kórnik
<input type="checkbox" name="city" value="Krajenka" />
Krajenka
<input type="checkbox" name="city" value="Krobia" />
Krobia
<input type="checkbox" name="city" value="Krotoszyn" />
Krotoszyn
<input type="checkbox" name="city" value="Krzywiń" />
Krzywiń
<input type="checkbox" name="city" value="Krzyż Wielkopolski" />
Krzyż Wielkopolski
<input type="checkbox" name="city" value="Książ Wielkopolski" />
Książ Wielkopolski
<input type="checkbox" name="city" value="Leszno" />
Leszno
<input type="checkbox" name="city" value="Luboń" />
Luboń
<input type="checkbox" name="city" value="Lwówek" />
Lwówek
<input type="checkbox" name="city" value="Łobżenica" />
Łobżenica
<input type="checkbox" name="city" value="Margonin" />
Margonin
<input type="checkbox" name="city" value="Miejska Górka" />
Miejska Górka
<input type="checkbox" name="city" value="Międzychód" />
Międzychód
<input type="checkbox" name="city" value="Mikstat" />
Mikstat
<input type="checkbox" name="city" value="Miłosław" />
Miłosław
<input type="checkbox" name="city" value="Mosina" />
Mosina
<input type="checkbox" name="city" value="Murowana Goślina" />
Murowana Goślina
<input type="checkbox" name="city" value="Nekla" />
Nekla
<input type="checkbox" name="city" value="Nowe Skalmierzyce" />
Nowe Skalmierzyce
<input type="checkbox" name="city" value="Nowy Tomyśl" />
Nowy Tomyśl
<input type="checkbox" name="city" value="Oborniki" />
Oborniki
<input type="checkbox" name="city" value="Obrzycko" />
Obrzycko
<input type="checkbox" name="city" value="Odolanów" />
Odolanów
<input type="checkbox" name="city" value="Okonek" />
Okonek
<input type="checkbox" name="city" value="Opalenica" />
Opalenica
<input type="checkbox" name="city" value="Osieczna" />
Osieczna
<input type="checkbox" name="city" value="Ostroróg" />
Ostroróg
<input type="checkbox" name="city" value="Ostrów Wielkopolski" />
Ostrów Wielkopolski
<input type="checkbox" name="city" value="Ostrzeszów" />
Ostrzeszów
<input type="checkbox" name="city" value="Piła" />
Piła
<input type="checkbox" name="city" value="Pleszew" />
Pleszew
<input type="checkbox" name="city" value="Pniewy" />
Pniewy
<input type="checkbox" name="city" value="Pobiedziska" />
Pobiedziska
<input type="checkbox" name="city" value="Pogorzela" />
Pogorzela
<input type="checkbox" name="city" value="Poniec" />
Poniec
<input type="checkbox" name="city" value="Poznań" />
Poznań
<input type="checkbox" name="city" value="Przedecz" />
Przedecz
<input type="checkbox" name="city" value="Puszczykowo" />
Puszczykowo
<input type="checkbox" name="city" value="Pyzdry" />
Pyzdry
<input type="checkbox" name="city" value="Rakoniewice" />
Rakoniewice
<input type="checkbox" name="city" value="Raszków" />
Raszków
<input type="checkbox" name="city" value="Rawicz" />
Rawicz
<input type="checkbox" name="city" value="Rogoźno" />
Rogoźno
<input type="checkbox" name="city" value="Rychwał" />
Rychwał
<input type="checkbox" name="city" value="Rydzyna" />
Rydzyna
<input type="checkbox" name="city" value="Sieraków" />
Sieraków
<input type="checkbox" name="city" value="Skoki" />
Skoki
<input type="checkbox" name="city" value="Słupca" />
Słupca
<input type="checkbox" name="city" value="Sompolno" />
Sompolno
<input type="checkbox" name="city" value="Stawiszyn" />
Stawiszyn
<input type="checkbox" name="city" value="Stęszew" />
Stęszew
<input type="checkbox" name="city" value="Sulmierzyce" />
Sulmierzyce
<input type="checkbox" name="city" value="Swarzędz" />
Swarzędz
<input type="checkbox" name="city" value="Szamocin" />
Szamocin
<input type="checkbox" name="city" value="Szamotuły" />
Szamotuły
<input type="checkbox" name="city" value="Ślesin" />
Ślesin
<input type="checkbox" name="city" value="Śmigiel" />
Śmigiel
<input type="checkbox" name="city" value="Śrem" />
Śrem
<input type="checkbox" name="city" value="Środa Wielkopolska" />
Środa Wielkopolska
<input type="checkbox" name="city" value="Trzcianka" />
Trzcianka
<input type="checkbox" name="city" value="Trzemeszno" />
Trzemeszno
<input type="checkbox" name="city" value="Tuliszków" />
Tuliszków
<input type="checkbox" name="city" value="Turek" />
Turek
<input type="checkbox" name="city" value="Ujście" />
Ujście
<input type="checkbox" name="city" value="Wągrowiec" />
Wągrowiec
<input type="checkbox" name="city" value="Wieleń" />
Wieleń
<input type="checkbox" name="city" value="Wielichowo" />
Wielichowo
<input type="checkbox" name="city" value="Witkowo" />
Witkowo
<input type="checkbox" name="city" value="Wolsztyn" />
Wolsztyn
<input type="checkbox" name="city" value="Wronki" />
Wronki
<input type="checkbox" name="city" value="Września" />
Września
<input type="checkbox" name="city" value="Wyrzysk" />
Wyrzysk
<input type="checkbox" name="city" value="Wysoka" />
Wysoka
<input type="checkbox" name="city" value="Zagórów" />
Zagórów
<input type="checkbox" name="city" value="Zbąszyń" />
Zbąszyń
<input type="checkbox" name="city" value="Zduny" />
Zduny
<input type="checkbox" name="city" value="Złotów" />
Złotów
<input type="checkbox" name="city" value="Żerków" />
Żerków
</body>
</html>