<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Bojanowo">Bojanowo</option>
<option value="Borek Wielkopolski">Borek Wielkopolski</option>
<option value="Buk">Buk</option>
<option value="Chocz">Chocz</option>
<option value="Chodzież">Chodzież</option>
<option value="Czarnków">Czarnków</option>
<option value="Czempiń">Czempiń</option>
<option value="Czerniejewo">Czerniejewo</option>
<option value="Dąbie">Dąbie</option>
<option value="Dobra">Dobra</option>
<option value="Dobrzyca">Dobrzyca</option>
<option value="Dolsk">Dolsk</option>
<option value="Gniezno">Gniezno</option>
<option value="Golina">Golina</option>
<option value="Gołańcz">Gołańcz</option>
<option value="Gostyń">Gostyń</option>
<option value="Grabów nad Prosną">Grabów nad Prosną</option>
<option value="Grodzisk Wielkopolski">Grodzisk Wielkopolski</option>
<option value="Jarocin">Jarocin</option>
<option value="Jastrowie">Jastrowie</option>
<option value="Jutrosin">Jutrosin</option>
<option value="Kalisz">Kalisz</option>
<option value="Kępno">Kępno</option>
<option value="Kleczew">Kleczew</option>
<option value="Kłecko">Kłecko</option>
<option value="Kłodawa">Kłodawa</option>
<option value="Kobylin">Kobylin</option>
<option value="Koło">Koło</option>
<option value="Konin">Konin</option>
<option value="Kostrzyn">Kostrzyn</option>
<option value="Kościan">Kościan</option>
<option value="Koźmin Wielkopolski">Koźmin Wielkopolski</option>
<option value="Kórnik">Kórnik</option>
<option value="Krajenka">Krajenka</option>
<option value="Krobia">Krobia</option>
<option value="Krotoszyn">Krotoszyn</option>
<option value="Krzywiń">Krzywiń</option>
<option value="Krzyż Wielkopolski">Krzyż Wielkopolski</option>
<option value="Książ Wielkopolski">Książ Wielkopolski</option>
<option value="Leszno">Leszno</option>
<option value="Luboń">Luboń</option>
<option value="Lwówek">Lwówek</option>
<option value="Łobżenica">Łobżenica</option>
<option value="Margonin">Margonin</option>
<option value="Miejska Górka">Miejska Górka</option>
<option value="Międzychód">Międzychód</option>
<option value="Mikstat">Mikstat</option>
<option value="Miłosław">Miłosław</option>
<option value="Mosina">Mosina</option>
<option value="Murowana Goślina">Murowana Goślina</option>
<option value="Nekla">Nekla</option>
<option value="Nowe Skalmierzyce">Nowe Skalmierzyce</option>
<option value="Nowy Tomyśl">Nowy Tomyśl</option>
<option value="Oborniki">Oborniki</option>
<option value="Obrzycko">Obrzycko</option>
<option value="Odolanów">Odolanów</option>
<option value="Okonek">Okonek</option>
<option value="Opalenica">Opalenica</option>
<option value="Osieczna">Osieczna</option>
<option value="Ostroróg">Ostroróg</option>
<option value="Ostrów Wielkopolski">Ostrów Wielkopolski</option>
<option value="Ostrzeszów">Ostrzeszów</option>
<option value="Piła">Piła</option>
<option value="Pleszew">Pleszew</option>
<option value="Pniewy">Pniewy</option>
<option value="Pobiedziska">Pobiedziska</option>
<option value="Pogorzela">Pogorzela</option>
<option value="Poniec">Poniec</option>
<option value="Poznań">Poznań</option>
<option value="Przedecz">Przedecz</option>
<option value="Puszczykowo">Puszczykowo</option>
<option value="Pyzdry">Pyzdry</option>
<option value="Rakoniewice">Rakoniewice</option>
<option value="Raszków">Raszków</option>
<option value="Rawicz">Rawicz</option>
<option value="Rogoźno">Rogoźno</option>
<option value="Rychwał">Rychwał</option>
<option value="Rydzyna">Rydzyna</option>
<option value="Sieraków">Sieraków</option>
<option value="Skoki">Skoki</option>
<option value="Słupca">Słupca</option>
<option value="Sompolno">Sompolno</option>
<option value="Stawiszyn">Stawiszyn</option>
<option value="Stęszew">Stęszew</option>
<option value="Sulmierzyce">Sulmierzyce</option>
<option value="Swarzędz">Swarzędz</option>
<option value="Szamocin">Szamocin</option>
<option value="Szamotuły">Szamotuły</option>
<option value="Ślesin">Ślesin</option>
<option value="Śmigiel">Śmigiel</option>
<option value="Śrem">Śrem</option>
<option value="Środa Wielkopolska">Środa Wielkopolska</option>
<option value="Trzcianka">Trzcianka</option>
<option value="Trzemeszno">Trzemeszno</option>
<option value="Tuliszków">Tuliszków</option>
<option value="Turek">Turek</option>
<option value="Ujście">Ujście</option>
<option value="Wągrowiec">Wągrowiec</option>
<option value="Wieleń">Wieleń</option>
<option value="Wielichowo">Wielichowo</option>
<option value="Witkowo">Witkowo</option>
<option value="Wolsztyn">Wolsztyn</option>
<option value="Wronki">Wronki</option>
<option value="Września">Września</option>
<option value="Wyrzysk">Wyrzysk</option>
<option value="Wysoka">Wysoka</option>
<option value="Zagórów">Zagórów</option>
<option value="Zbąszyń">Zbąszyń</option>
<option value="Zduny">Zduny</option>
<option value="Złotów">Złotów</option>
<option value="Żerków">Żerków</option>
</body>
</html>