<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Barlinek" />
Barlinek
<input type="checkbox" name="city" value="Barwice" />
Barwice
<input type="checkbox" name="city" value="Białogard" />
Białogard
<input type="checkbox" name="city" value="Biały Bór" />
Biały Bór
<input type="checkbox" name="city" value="Bobolice" />
Bobolice
<input type="checkbox" name="city" value="Borne Sulinowo" />
Borne Sulinowo
<input type="checkbox" name="city" value="Cedynia" />
Cedynia
<input type="checkbox" name="city" value="Chociwel" />
Chociwel
<input type="checkbox" name="city" value="Chojna" />
Chojna
<input type="checkbox" name="city" value="Choszczno" />
Choszczno
<input type="checkbox" name="city" value="Czaplinek" />
Czaplinek
<input type="checkbox" name="city" value="Człopa" />
Człopa
<input type="checkbox" name="city" value="Darłowo" />
Darłowo
<input type="checkbox" name="city" value="Dębno" />
Dębno
<input type="checkbox" name="city" value="Dobra" />
Dobra
<input type="checkbox" name="city" value="Dobrzany" />
Dobrzany
<input type="checkbox" name="city" value="Drawno" />
Drawno
<input type="checkbox" name="city" value="Drawsko Pomorskie" />
Drawsko Pomorskie
<input type="checkbox" name="city" value="Dziwnów" />
Dziwnów
<input type="checkbox" name="city" value="Golczewo" />
Golczewo
<input type="checkbox" name="city" value="Goleniów" />
Goleniów
<input type="checkbox" name="city" value="Gościno" />
Gościno
<input type="checkbox" name="city" value="Gryfice" />
Gryfice
<input type="checkbox" name="city" value="Gryfino" />
Gryfino
<input type="checkbox" name="city" value="Ińsko" />
Ińsko
<input type="checkbox" name="city" value="Kalisz Pomorski" />
Kalisz Pomorski
<input type="checkbox" name="city" value="Kamień Pomorski" />
Kamień Pomorski
<input type="checkbox" name="city" value="Karlino" />
Karlino
<input type="checkbox" name="city" value="Kołobrzeg" />
Kołobrzeg
<input type="checkbox" name="city" value="Koszalin" />
Koszalin
<input type="checkbox" name="city" value="Lipiany" />
Lipiany
<input type="checkbox" name="city" value="Łobez" />
Łobez
<input type="checkbox" name="city" value="Maszewo" />
Maszewo
<input type="checkbox" name="city" value="Mieszkowice" />
Mieszkowice
<input type="checkbox" name="city" value="Międzyzdroje" />
Międzyzdroje
<input type="checkbox" name="city" value="Mirosławiec" />
Mirosławiec
<input type="checkbox" name="city" value="Moryń" />
Moryń
<input type="checkbox" name="city" value="Myślibórz" />
Myślibórz
<input type="checkbox" name="city" value="Nowe Warpno" />
Nowe Warpno
<input type="checkbox" name="city" value="Nowogard" />
Nowogard
<input type="checkbox" name="city" value="Pełczyce" />
Pełczyce
<input type="checkbox" name="city" value="Płoty" />
Płoty
<input type="checkbox" name="city" value="Polanów" />
Polanów
<input type="checkbox" name="city" value="Police" />
Police
<input type="checkbox" name="city" value="Połczyn-Zdrój" />
Połczyn-Zdrój
<input type="checkbox" name="city" value="Pyrzyce" />
Pyrzyce
<input type="checkbox" name="city" value="Recz" />
Recz
<input type="checkbox" name="city" value="Resko" />
Resko
<input type="checkbox" name="city" value="Sianów" />
Sianów
<input type="checkbox" name="city" value="Sławno" />
Sławno
<input type="checkbox" name="city" value="Stargard Szczeciński" />
Stargard Szczeciński
<input type="checkbox" name="city" value="Stepnica" />
Stepnica
<input type="checkbox" name="city" value="Suchań" />
Suchań
<input type="checkbox" name="city" value="Szczecin" />
Szczecin
<input type="checkbox" name="city" value="Szczecinek" />
Szczecinek
<input type="checkbox" name="city" value="Świdwin" />
Świdwin
<input type="checkbox" name="city" value="Świnoujście" />
Świnoujście
<input type="checkbox" name="city" value="Trzcińsko-Zdrój" />
Trzcińsko-Zdrój
<input type="checkbox" name="city" value="Trzebiatów" />
Trzebiatów
<input type="checkbox" name="city" value="Tuczno" />
Tuczno
<input type="checkbox" name="city" value="Tychowo" />
Tychowo
<input type="checkbox" name="city" value="Wałcz" />
Wałcz
<input type="checkbox" name="city" value="Węgorzyno" />
Węgorzyno
<input type="checkbox" name="city" value="Wolin" />
Wolin
<input type="checkbox" name="city" value="Złocieniec" />
Złocieniec
</body>
</html>