<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Barlinek">Barlinek</option>
<option value="Barwice">Barwice</option>
<option value="Białogard">Białogard</option>
<option value="Biały Bór">Biały Bór</option>
<option value="Bobolice">Bobolice</option>
<option value="Borne Sulinowo">Borne Sulinowo</option>
<option value="Cedynia">Cedynia</option>
<option value="Chociwel">Chociwel</option>
<option value="Chojna">Chojna</option>
<option value="Choszczno">Choszczno</option>
<option value="Czaplinek">Czaplinek</option>
<option value="Człopa">Człopa</option>
<option value="Darłowo">Darłowo</option>
<option value="Dębno">Dębno</option>
<option value="Dobra">Dobra</option>
<option value="Dobrzany">Dobrzany</option>
<option value="Drawno">Drawno</option>
<option value="Drawsko Pomorskie">Drawsko Pomorskie</option>
<option value="Dziwnów">Dziwnów</option>
<option value="Golczewo">Golczewo</option>
<option value="Goleniów">Goleniów</option>
<option value="Gościno">Gościno</option>
<option value="Gryfice">Gryfice</option>
<option value="Gryfino">Gryfino</option>
<option value="Ińsko">Ińsko</option>
<option value="Kalisz Pomorski">Kalisz Pomorski</option>
<option value="Kamień Pomorski">Kamień Pomorski</option>
<option value="Karlino">Karlino</option>
<option value="Kołobrzeg">Kołobrzeg</option>
<option value="Koszalin">Koszalin</option>
<option value="Lipiany">Lipiany</option>
<option value="Łobez">Łobez</option>
<option value="Maszewo">Maszewo</option>
<option value="Mieszkowice">Mieszkowice</option>
<option value="Międzyzdroje">Międzyzdroje</option>
<option value="Mirosławiec">Mirosławiec</option>
<option value="Moryń">Moryń</option>
<option value="Myślibórz">Myślibórz</option>
<option value="Nowe Warpno">Nowe Warpno</option>
<option value="Nowogard">Nowogard</option>
<option value="Pełczyce">Pełczyce</option>
<option value="Płoty">Płoty</option>
<option value="Polanów">Polanów</option>
<option value="Police">Police</option>
<option value="Połczyn-Zdrój">Połczyn-Zdrój</option>
<option value="Pyrzyce">Pyrzyce</option>
<option value="Recz">Recz</option>
<option value="Resko">Resko</option>
<option value="Sianów">Sianów</option>
<option value="Sławno">Sławno</option>
<option value="Stargard Szczeciński">Stargard Szczeciński</option>
<option value="Stepnica">Stepnica</option>
<option value="Suchań">Suchań</option>
<option value="Szczecin">Szczecin</option>
<option value="Szczecinek">Szczecinek</option>
<option value="Świdwin">Świdwin</option>
<option value="Świnoujście">Świnoujście</option>
<option value="Trzcińsko-Zdrój">Trzcińsko-Zdrój</option>
<option value="Trzebiatów">Trzebiatów</option>
<option value="Tuczno">Tuczno</option>
<option value="Tychowo">Tychowo</option>
<option value="Wałcz">Wałcz</option>
<option value="Węgorzyno">Węgorzyno</option>
<option value="Wolin">Wolin</option>
<option value="Złocieniec">Złocieniec</option>
</body>
</html>