<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Bardo"/>
Bardo
<input type="checkbox" name="city" value="Bielawa"/>
Bielawa
<input type="checkbox" name="city" value="Bierutów"/>
Bierutów
<input type="checkbox" name="city" value="Bogatynia"/>
Bogatynia
<input type="checkbox" name="city" value="Boguszów-Gorce"/>
Boguszów-Gorce
<input type="checkbox" name="city" value="Bolesławie"/>
Bolesławie
<input type="checkbox" name="city" value="Bolków"/>
Bolków
<input type="checkbox" name="city" value="Brzeg Dolny"/>
Brzeg Dolny
<input type="checkbox" name="city" value="Bystrzyca Kłodzka"/>
Bystrzyca Kłodzka
<input type="checkbox" name="city" value="Chocianów"/>
Chocianów
<input type="checkbox" name="city" value="Chojnów"/>
Chojnów
<input type="checkbox" name="city" value="Duszniki-Zdrój"/>
Duszniki-Zdrój
<input type="checkbox" name="city" value="Dzierżoniów"/>
Dzierżoniów
<input type="checkbox" name="city" value="Głogów"/>
Głogów
<input type="checkbox" name="city" value="Głuszyca"/>
Głuszyca
<input type="checkbox" name="city" value="Góra"/>
Góra
<input type="checkbox" name="city" value="Gryfów Śląski"/>
Gryfów Śląski
<input type="checkbox" name="city" value="Jawor"/>
Jawor
<input type="checkbox" name="city" value="Jaworzyna Śląska"/>
Jaworzyna Śląska
<input type="checkbox" name="city" value="Jedlina-Zdrój"/>
Jedlina-Zdrój
<input type="checkbox" name="city" value="Jelcz-Laskowice"/>
Jelcz-Laskowice
<input type="checkbox" name="city" value="Jelenia Góra"/>
Jelenia Góra
<input type="checkbox" name="city" value="Kamienna Góra"/>
Kamienna Góra
<input type="checkbox" name="city" value="Karpacz"/>
Karpacz
<input type="checkbox" name="city" value="Kąty Wrocławskie"/>
Kąty Wrocławskie
<input type="checkbox" name="city" value="Kłodzko"/>
Kłodzko
<input type="checkbox" name="city" value="Kowary"/>
Kowary
<input type="checkbox" name="city" value="Kudowa-Zdrój"/>
Kudowa-Zdrój
<input type="checkbox" name="city" value="Lądek-Zdrój"/>
Lądek-Zdrój
<input type="checkbox" name="city" value="Legnica"/>
Legnica
<input type="checkbox" name="city" value="Leśna"/>
Leśna
<input type="checkbox" name="city" value="Lubań"/>
Lubań
<input type="checkbox" name="city" value="Lubawka"/>
Lubawka
<input type="checkbox" name="city" value="Lubin"/>
Lubin
<input type="checkbox" name="city" value="Lubomierz"/>
Lubomierz
<input type="checkbox" name="city" value="Lwówek Śląski"/>
Lwówek Śląski
<input type="checkbox" name="city" value="Mieroszów"/>
Mieroszów
<input type="checkbox" name="city" value="Międzybórz"/>
Międzybórz
<input type="checkbox" name="city" value="Międzylesie"/>
Międzylesie
<input type="checkbox" name="city" value="Milicz"/>
Milicz
<input type="checkbox" name="city" value="Mirsk"/>
Mirsk
<input type="checkbox" name="city" value="Niemcza"/>
Niemcza
<input type="checkbox" name="city" value="Nowa Ruda"/>
Nowa Ruda
<input type="checkbox" name="city" value="Nowogrodziec"/>
Nowogrodziec
<input type="checkbox" name="city" value="Oborniki Śląskie"/>
Oborniki Śląskie
<input type="checkbox" name="city" value="Oleśnica"/>
Oleśnica
<input type="checkbox" name="city" value="Olszyna"/>
Olszyna
<input type="checkbox" name="city" value="Oława"/>
Oława
<input type="checkbox" name="city" value="Piechowice"/>
Piechowice
<input type="checkbox" name="city" value="Pieńsk"/>
Pieńsk
<input type="checkbox" name="city" value="Pieszyce"/>
Pieszyce
<input type="checkbox" name="city" value="Piława Górna"/>
Piława Górna
<input type="checkbox" name="city" value="Polanica-Zdrój"/>
Polanica-Zdrój
<input type="checkbox" name="city" value="Polkowice"/>
Polkowice
<input type="checkbox" name="city" value="Prochowice"/>
Prochowice
<input type="checkbox" name="city" value="Prusice"/>
Prusice
<input type="checkbox" name="city" value="Przemków"/>
Przemków
<input type="checkbox" name="city" value="Radków"/>
Radków
<input type="checkbox" name="city" value="Siechnice"/>
Siechnice
<input type="checkbox" name="city" value="Sobótka"/>
Sobótka
<input type="checkbox" name="city" value="Stronie Śląskie"/>
Stronie Śląskie
<input type="checkbox" name="city" value="Strzegom"/>
Strzegom
<input type="checkbox" name="city" value="Strzelin"/>
Strzelin
<input type="checkbox" name="city" value="Syców"/>
Syców
<input type="checkbox" name="city" value="Szczawno-Zdrój"/>
Szczawno-Zdrój
<input type="checkbox" name="city" value="Szczytna"/>
Szczytna
<input type="checkbox" name="city" value="Szklarska Poręba"/>
Szklarska Poręba
<input type="checkbox" name="city" value="Ścinawa"/>
Ścinawa
<input type="checkbox" name="city" value="Środa Śląska"/>
Środa Śląska
<input type="checkbox" name="city" value="Świdnica"/>
Świdnica
<input type="checkbox" name="city" value="Świebodzice"/>
Świebodzice
<input type="checkbox" name="city" value="Świeradów-Zdrój"/>
Świeradów-Zdrój
<input type="checkbox" name="city" value="Świerzawa"/>
Świerzawa
<input type="checkbox" name="city" value="Trzebnica"/>
Trzebnica
<input type="checkbox" name="city" value="Twardogóra"/>
Twardogóra
<input type="checkbox" name="city" value="Wałbrzych"/>
Wałbrzych
<input type="checkbox" name="city" value="Wąsosz"/>
Wąsosz
<input type="checkbox" name="city" value="Węgliniec"/>
Węgliniec
<input type="checkbox" name="city" value="Wiązów"/>
Wiązów
<input type="checkbox" name="city" value="Wleń"/>
Wleń
<input type="checkbox" name="city" value="Wojcieszów"/>
Wojcieszów
<input type="checkbox" name="city" value="Wołów"/>
Wołów
<input type="checkbox" name="city" value="Wrocław"/>
Wrocław
<input type="checkbox" name="city" value="Zawidów"/>
Zawidów
<input type="checkbox" name="city" value="Ząbkowice Śląskie"/>
Ząbkowice Śląskie
<input type="checkbox" name="city" value="Zgorzelec"/>
Zgorzelec
<input type="checkbox" name="city" value="Ziębice"/>
Ziębice
<input type="checkbox" name="city" value="Złotoryja"/>
Złotoryja
<input type="checkbox" name="city" value="Złoty Stok"/>
Złoty Stok
<input type="checkbox" name="city" value="Żarów"/>
Żarów
<input type="checkbox" name="city" value="Żmigród"/>
Żmigród
</body>
</html>