<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Aleksandrów Kujawski">Aleksandrów Kujawski</option>
<option value="Barcin">Barcin</option>
<option value="Brodnica">Brodnica</option>
<option value="Brześć Kujawski">Brześć Kujawski</option>
<option value="Bydgoszcz">Bydgoszcz</option>
<option value="Chełmno">Chełmno</option>
<option value="Chełmża">Chełmża</option>
<option value="Chodecz">Chodecz</option>
<option value="Ciechocinek">Ciechocinek</option>
<option value="Dobrzyń nad Wisłą">Dobrzyń nad Wisłą</option>
<option value="Gniewkowo">Gniewkowo</option>
<option value="Golub-Dobrzyń">Golub-Dobrzyń</option>
<option value="Górzno">Górzno</option>
<option value="Grudziądz">Grudziądz</option>
<option value="Inowrocław">Inowrocław</option>
<option value="Izbica Kujawska">Izbica Kujawska</option>
<option value="Jabłonowo Pomorskie">Jabłonowo Pomorskie</option>
<option value="Janikowo">Janikowo</option>
<option value="Janowiec Wielkopolski">Janowiec Wielkopolski</option>
<option value="Kamień Krajeński">Kamień Krajeński</option>
<option value="Kcynia">Kcynia</option>
<option value="Koronowo">Koronowo</option>
<option value="Kowal">Kowal</option>
<option value="Kowalewo Pomorskie">Kowalewo Pomorskie</option>
<option value="Kruszwica">Kruszwica</option>
<option value="Lipno">Lipno</option>
<option value="Lubień Kujawski">Lubień Kujawski</option>
<option value="Lubraniec">Lubraniec</option>
<option value="Łabiszyn">Łabiszyn</option>
<option value="Łasin">Łasin</option>
<option value="Mogilno">Mogilno</option>
<option value="Mrocza">Mrocza</option>
<option value="Nakło nad Notecią">Nakło nad Notecią</option>
<option value="Nieszawa">Nieszawa</option>
<option value="Nowe">Nowe</option>
<option value="Pakość">Pakość</option>
<option value="Piotrków Kujawski">Piotrków Kujawski</option>
<option value="Radziejów">Radziejów</option>
<option value="Radzyń Chełmiński">Radzyń Chełmiński</option>
<option value="Rypin">Rypin</option>
<option value="Sępólno Krajeńskie">Sępólno Krajeńskie</option>
<option value="Skępe">Skępe</option>
<option value="Solec Kujawski">Solec Kujawski</option>
<option value="Strzelno">Strzelno</option>
<option value="Szubin">Szubin</option>
<option value="Świecie">Świecie</option>
<option value="Toruń">Toruń</option>
<option value="Tuchola">Tuchola</option>
<option value="Wąbrzeźno">Wąbrzeźno</option>
<option value="Więcbork">Więcbork</option>
<option value="Włocławek">Włocławek</option>
<option value="Żnin">Żnin</option>
</body>
</html>