<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<?xml version="1.0" encoding="UTF-8"?>
<document>
    <input type="checkbox" name="city" value="Aleksandrów Kujawski"/>
    Aleksandrów Kujawski
    <input type="checkbox" name="city" value="Barcin"/>
    Barcin
    <input type="checkbox" name="city" value="Brodnica"/>
    Brodnica
    <input type="checkbox" name="city" value="Brześć Kujawski"/>
    Brześć Kujawski
    <input type="checkbox" name="city" value="Bydgoszcz"/>
    Bydgoszcz
    <input type="checkbox" name="city" value="Chełmno"/>
    Chełmno
    <input type="checkbox" name="city" value="Chełmża"/>
    Chełmża
    <input type="checkbox" name="city" value="Chodecz"/>
    Chodecz
    <input type="checkbox" name="city" value="Ciechocinek"/>
    Ciechocinek
    <input type="checkbox" name="city" value="Dobrzyń nad Wisłą"/>
    Dobrzyń nad Wisłą
    <input type="checkbox" name="city" value="Gniewkowo"/>
    Gniewkowo
    <input type="checkbox" name="city" value="Golub-Dobrzyń"/>
    Golub-Dobrzyń
    <input type="checkbox" name="city" value="Górzno"/>
    Górzno
    <input type="checkbox" name="city" value="Grudziądz"/>
    Grudziądz
    <input type="checkbox" name="city" value="Inowrocław"/>
    Inowrocław
    <input type="checkbox" name="city" value="Izbica Kujawska"/>
    Izbica Kujawska
    <input type="checkbox" name="city" value="Jabłonowo Pomorskie"/>
    Jabłonowo Pomorskie
    <input type="checkbox" name="city" value="Janikowo"/>
    Janikowo
    <input type="checkbox" name="city" value="Janowiec Wielkopolski"/>
    Janowiec Wielkopolski
    <input type="checkbox" name="city" value="Kamień Krajeński"/>
    Kamień Krajeński
    <input type="checkbox" name="city" value="Kcynia"/>
    Kcynia
    <input type="checkbox" name="city" value="Koronowo"/>
    Koronowo
    <input type="checkbox" name="city" value="Kowal"/>
    Kowal
    <input type="checkbox" name="city" value="Kowalewo Pomorskie"/>
    Kowalewo Pomorskie
    <input type="checkbox" name="city" value="Kruszwica"/>
    Kruszwica
    <input type="checkbox" name="city" value="Lipno"/>
    Lipno
    <input type="checkbox" name="city" value="Lubień Kujawski"/>
    Lubień Kujawski
    <input type="checkbox" name="city" value="Lubraniec"/>
    Lubraniec
    <input type="checkbox" name="city" value="Łabiszyn"/>
    Łabiszyn
    <input type="checkbox" name="city" value="Łasin"/>
    Łasin
    <input type="checkbox" name="city" value="Mogilno"/>
    Mogilno
    <input type="checkbox" name="city" value="Mrocza"/>
    Mrocza
    <input type="checkbox" name="city" value="Nakło nad Notecią"/>
    Nakło nad Notecią
    <input type="checkbox" name="city" value="Nieszawa"/>
    Nieszawa
    <input type="checkbox" name="city" value="Nowe"/>
    Nowe
    <input type="checkbox" name="city" value="Pakość"/>
    Pakość
    <input type="checkbox" name="city" value="Piotrków Kujawski"/>
    Piotrków Kujawski
    <input type="checkbox" name="city" value="Radziejów"/>
    Radziejów
    <input type="checkbox" name="city" value="Radzyń Chełmiński"/>
    Radzyń Chełmiński
    <input type="checkbox" name="city" value="Rypin"/>
    Rypin
    <input type="checkbox" name="city" value="Sępólno Krajeńskie"/>
    Sępólno Krajeńskie
    <input type="checkbox" name="city" value="Skępe"/>
    Skępe
    <input type="checkbox" name="city" value="Solec Kujawski"/>
    Solec Kujawski
    <input type="checkbox" name="city" value="Strzelno"/>
    Strzelno
    <input type="checkbox" name="city" value="Szubin"/>
    Szubin
    <input type="checkbox" name="city" value="Świecie"/>
    Świecie
    <input type="checkbox" name="city" value="Toruń"/>
    Toruń
    <input type="checkbox" name="city" value="Tuchola"/>
    Tuchola
    <input type="checkbox" name="city" value="Wąbrzeźno"/>
    Wąbrzeźno
    <input type="checkbox" name="city" value="Więcbork"/>
    Więcbork
    <input type="checkbox" name="city" value="Włocławek"/>
    Włocławek
    <input type="checkbox" name="city" value="Żnin"/>
    Żnin
</body>
</html>