<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Annopol">Annopol</option>
<option value="Bełżyce">Bełżyce</option>
<option value="Biała Podlaska">Biała Podlaska</option>
<option value="Biłgoraj">Biłgoraj</option>
<option value="Bychawa">Bychawa</option>
<option value="Chełm">Chełm</option>
<option value="Dęblin">Dęblin</option>
<option value="Frampol">Frampol</option>
<option value="Hrubieszów">Hrubieszów</option>
<option value="Janów Lubelski">Janów Lubelski</option>
<option value="Józefów">Józefów</option>
<option value="Kazimierz Dolny">Kazimierz Dolny</option>
<option value="Kock">Kock</option>
<option value="Krasnobród">Krasnobród</option>
<option value="Krasnystaw">Krasnystaw</option>
<option value="Kraśnik">Kraśnik</option>
<option value="Lubartów">Lubartów</option>
<option value="Lublin">Lublin</option>
<option value="Łaszczów">Łaszczów</option>
<option value="Łęczna">Łęczna</option>
<option value="Łuków">Łuków</option>
<option value="Międzyrzec Podlaski">Międzyrzec Podlaski</option>
<option value="Modliborzyce">Modliborzyce</option>
<option value="Nałęczów">Nałęczów</option>
<option value="Opole Lubelskie">Opole Lubelskie</option>
<option value="Ostrów Lubelski">Ostrów Lubelski</option>
<option value="Parczew">Parczew</option>
<option value="Piaski">Piaski</option>
<option value="Poniatowa">Poniatowa</option>
<option value="Puławy">Puławy</option>
<option value="Radzyń Podlaski">Radzyń Podlaski</option>
<option value="Rejowiec Fabryczny">Rejowiec Fabryczny</option>
<option value="Ryki">Ryki</option>
<option value="Stoczek Łukowski">Stoczek Łukowski</option>
<option value="Szczebrzeszyn">Szczebrzeszyn</option>
<option value="Świdnik">Świdnik</option>
<option value="Tarnogród">Tarnogród</option>
<option value="Terespol">Terespol</option>
<option value="Tomaszów Lubelski">Tomaszów Lubelski</option>
<option value="Tyszowce">Tyszowce</option>
<option value="Włodawa">Włodawa</option>
<option value="Zamość">Zamość</option>
<option value="Zwierzyniec">Zwierzyniec</option>
</body>
</html>