<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Annopol" />
Annopol
<input type="checkbox" name="city" value="Bełżyce" />
Bełżyce
<input type="checkbox" name="city" value="Biała Podlaska" />
Biała Podlaska
<input type="checkbox" name="city" value="Biłgoraj" />
Biłgoraj
<input type="checkbox" name="city" value="Bychawa" />
Bychawa
<input type="checkbox" name="city" value="Chełm" />
Chełm
<input type="checkbox" name="city" value="Dęblin" />
Dęblin
<input type="checkbox" name="city" value="Frampol" />
Frampol
<input type="checkbox" name="city" value="Hrubieszów" />
Hrubieszów
<input type="checkbox" name="city" value="Janów Lubelski" />
Janów Lubelski
<input type="checkbox" name="city" value="Józefów" />
Józefów
<input type="checkbox" name="city" value="Kazimierz Dolny" />
Kazimierz Dolny
<input type="checkbox" name="city" value="Kock" />
Kock
<input type="checkbox" name="city" value="Krasnobród" />
Krasnobród
<input type="checkbox" name="city" value="Krasnystaw" />
Krasnystaw
<input type="checkbox" name="city" value="Kraśnik" />
Kraśnik
<input type="checkbox" name="city" value="Lubartów" />
Lubartów
<input type="checkbox" name="city" value="Lublin" />
Lublin
<input type="checkbox" name="city" value="Łaszczów" />
Łaszczów
<input type="checkbox" name="city" value="Łęczna" />
Łęczna
<input type="checkbox" name="city" value="Łuków" />
Łuków
<input type="checkbox" name="city" value="Międzyrzec Podlaski" />
Międzyrzec Podlaski
<input type="checkbox" name="city" value="Modliborzyce" />
Modliborzyce
<input type="checkbox" name="city" value="Nałęczów" />
Nałęczów
<input type="checkbox" name="city" value="Opole Lubelskie" />
Opole Lubelskie
<input type="checkbox" name="city" value="Ostrów Lubelski" />
Ostrów Lubelski
<input type="checkbox" name="city" value="Parczew" />
Parczew
<input type="checkbox" name="city" value="Piaski" />
Piaski
<input type="checkbox" name="city" value="Poniatowa" />
Poniatowa
<input type="checkbox" name="city" value="Puławy" />
Puławy
<input type="checkbox" name="city" value="Radzyń Podlaski" />
Radzyń Podlaski
<input type="checkbox" name="city" value="Rejowiec Fabryczny" />
Rejowiec Fabryczny
<input type="checkbox" name="city" value="Ryki" />
Ryki
<input type="checkbox" name="city" value="Stoczek Łukowski" />
Stoczek Łukowski
<input type="checkbox" name="city" value="Szczebrzeszyn" />
Szczebrzeszyn
<input type="checkbox" name="city" value="Świdnik" />
Świdnik
<input type="checkbox" name="city" value="Tarnogród" />
Tarnogród
<input type="checkbox" name="city" value="Terespol" />
Terespol
<input type="checkbox" name="city" value="Tomaszów Lubelski" />
Tomaszów Lubelski
<input type="checkbox" name="city" value="Tyszowce" />
Tyszowce
<input type="checkbox" name="city" value="Włodawa" />
Włodawa
<input type="checkbox" name="city" value="Zamość" />
Zamość
<input type="checkbox" name="city" value="Zwierzyniec" />
Zwierzyniec
</body>
</html>