<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Babimost">Babimost</option>
<option value="Bytom Odrzański">Bytom Odrzański</option>
<option value="Cybinka">Cybinka</option>
<option value="Czerwieńsk">Czerwieńsk</option>
<option value="Dobiegniew">Dobiegniew</option>
<option value="Drezdenko">Drezdenko</option>
<option value="Gorzów Wielkopolski">Gorzów Wielkopolski</option>
<option value="Gozdnica">Gozdnica</option>
<option value="Gubin">Gubin</option>
<option value="Iłowa">Iłowa</option>
<option value="Jasień">Jasień</option>
<option value="Kargowa">Kargowa</option>
<option value="Kostrzyn nad Odrą">Kostrzyn nad Odrą</option>
<option value="Kożuchów">Kożuchów</option>
<option value="Krosno Odrzańskie">Krosno Odrzańskie</option>
<option value="Lubniewice">Lubniewice</option>
<option value="Lubsko">Lubsko</option>
<option value="Łęknica">Łęknica</option>
<option value="Małomice">Małomice</option>
<option value="Międzyrzecz">Międzyrzecz</option>
<option value="Nowa Sól">Nowa Sól</option>
<option value="Nowe Miasteczko">Nowe Miasteczko</option>
<option value="Nowogród Bobrzański">Nowogród Bobrzański</option>
<option value="Ośno Lubuskie">Ośno Lubuskie</option>
<option value="Rzepin">Rzepin</option>
<option value="Skwierzyna">Skwierzyna</option>
<option value="Sława">Sława</option>
<option value="Słubice">Słubice</option>
<option value="Strzelce Krajeńskie">Strzelce Krajeńskie</option>
<option value="Sulechów">Sulechów</option>
<option value="Sulęcin">Sulęcin</option>
<option value="Szlichtyngowa">Szlichtyngowa</option>
<option value="Szprotawa">Szprotawa</option>
<option value="Świebodzin">Świebodzin</option>
<option value="Torzym">Torzym</option>
<option value="Trzciel">Trzciel</option>
<option value="Witnica">Witnica</option>
<option value="Wschowa">Wschowa</option>
<option value="Zbąszynek">Zbąszynek</option>
<option value="Zielona Góra">Zielona Góra</option>
<option value="Żagań">Żagań</option>
<option value="Żary">Żary</option>
</body>
</html>