<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Babimost" />
Babimost
<input type="checkbox" name="city" value="Bytom Odrzański" />
Bytom Odrzański
<input type="checkbox" name="city" value="Cybinka" />
Cybinka
<input type="checkbox" name="city" value="Czerwieńsk" />
Czerwieńsk
<input type="checkbox" name="city" value="Dobiegniew" />
Dobiegniew
<input type="checkbox" name="city" value="Drezdenko" />
Drezdenko
<input type="checkbox" name="city" value="Gorzów Wielkopolski" />
Gorzów Wielkopolski
<input type="checkbox" name="city" value="Gozdnica" />
Gozdnica
<input type="checkbox" name="city" value="Gubin" />
Gubin
<input type="checkbox" name="city" value="Iłowa" />
Iłowa
<input type="checkbox" name="city" value="Jasień" />
Jasień
<input type="checkbox" name="city" value="Kargowa" />
Kargowa
<input type="checkbox" name="city" value="Kostrzyn nad Odrą" />
Kostrzyn nad Odrą
<input type="checkbox" name="city" value="Kożuchów" />
Kożuchów
<input type="checkbox" name="city" value="Krosno Odrzańskie" />
Krosno Odrzańskie
<input type="checkbox" name="city" value="Lubniewice" />
Lubniewice
<input type="checkbox" name="city" value="Lubsko" />
Lubsko
<input type="checkbox" name="city" value="Łęknica" />
Łęknica
<input type="checkbox" name="city" value="Małomice" />
Małomice
<input type="checkbox" name="city" value="Międzyrzecz" />
Międzyrzecz
<input type="checkbox" name="city" value="Nowa Sól" />
Nowa Sól
<input type="checkbox" name="city" value="Nowe Miasteczko" />
Nowe Miasteczko
<input type="checkbox" name="city" value="Nowogród Bobrzański" />
Nowogród Bobrzański
<input type="checkbox" name="city" value="Ośno Lubuskie" />
Ośno Lubuskie
<input type="checkbox" name="city" value="Rzepin" />
Rzepin
<input type="checkbox" name="city" value="Skwierzyna" />
Skwierzyna
<input type="checkbox" name="city" value="Sława" />
Sława
<input type="checkbox" name="city" value="Słubice" />
Słubice
<input type="checkbox" name="city" value="Strzelce Krajeńskie" />
Strzelce Krajeńskie
<input type="checkbox" name="city" value="Sulechów" />
Sulechów
<input type="checkbox" name="city" value="Sulęcin" />
Sulęcin
<input type="checkbox" name="city" value="Szlichtyngowa" />
Szlichtyngowa
<input type="checkbox" name="city" value="Szprotawa" />
Szprotawa
<input type="checkbox" name="city" value="Świebodzin" />
Świebodzin
<input type="checkbox" name="city" value="Torzym" />
Torzym
<input type="checkbox" name="city" value="Trzciel" />
Trzciel
<input type="checkbox" name="city" value="Witnica" />
Witnica
<input type="checkbox" name="city" value="Wschowa" />
Wschowa
<input type="checkbox" name="city" value="Zbąszynek" />
Zbąszynek
<input type="checkbox" name="city" value="Zielona Góra" />
Zielona Góra
<input type="checkbox" name="city" value="Żagań" />
Żagań
<input type="checkbox" name="city" value="Żary" />
Żary
</body>
</html>