<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Aleksandrów Łódzki">Aleksandrów Łódzki</option>
<option value="Bełchatów">Bełchatów</option>
<option value="Biała Rawska">Biała Rawska</option>
<option value="Błaszki">Błaszki</option>
<option value="Brzeziny">Brzeziny</option>
<option value="Drzewica">Drzewica</option>
<option value="Działoszyn">Działoszyn</option>
<option value="Głowno">Głowno</option>
<option value="Kamieńsk">Kamieńsk</option>
<option value="Koluszki">Koluszki</option>
<option value="Konstantynów Łódzki">Konstantynów Łódzki</option>
<option value="Krośniewice">Krośniewice</option>
<option value="Kutno">Kutno</option>
<option value="Łask">Łask</option>
<option value="Łęczyca">Łęczyca</option>
<option value="Łowicz">Łowicz</option>
<option value="Łódź">Łódź</option>
<option value="Opoczno">Opoczno</option>
<option value="Ozorków">Ozorków</option>
<option value="Pabianice">Pabianice</option>
<option value="Pajęczno">Pajęczno</option>
<option value="Piotrków Trybunalski">Piotrków Trybunalski</option>
<option value="Poddębice">Poddębice</option>
<option value="Przedbórz">Przedbórz</option>
<option value="Radomsko">Radomsko</option>
<option value="Rawa Mazowiecka">Rawa Mazowiecka</option>
<option value="Rzgów">Rzgów</option>
<option value="Sieradz">Sieradz</option>
<option value="Skierniewice">Skierniewice</option>
<option value="Stryków">Stryków</option>
<option value="Sulejów">Sulejów</option>
<option value="Szadek">Szadek</option>
<option value="Tomaszów Mazowiecki">Tomaszów Mazowiecki</option>
<option value="Tuszyn">Tuszyn</option>
<option value="Uniejów">Uniejów</option>
<option value="Warta">Warta</option>
<option value="Wieluń">Wieluń</option>
<option value="Wieruszów">Wieruszów</option>
<option value="Wolbórz">Wolbórz</option>
<option value="Zduńska Wola">Zduńska Wola</option>
<option value="Zelów">Zelów</option>
<option value="Zgierz">Zgierz</option>
<option value="Złoczew">Złoczew</option>
<option value="Żychlin">Żychlin</option>
</body>
</html>