<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Aleksandrów Łódzki" />
Aleksandrów Łódzki
<input type="checkbox" name="city" value="Bełchatów" />
Bełchatów
<input type="checkbox" name="city" value="Biała Rawska" />
Biała Rawska
<input type="checkbox" name="city" value="Błaszki" />
Błaszki
<input type="checkbox" name="city" value="Brzeziny" />
Brzeziny
<input type="checkbox" name="city" value="Drzewica" />
Drzewica
<input type="checkbox" name="city" value="Działoszyn" />
Działoszyn
<input type="checkbox" name="city" value="Głowno" />
Głowno
<input type="checkbox" name="city" value="Kamieńsk" />
Kamieńsk
<input type="checkbox" name="city" value="Koluszki" />
Koluszki
<input type="checkbox" name="city" value="Konstantynów Łódzki" />
Konstantynów Łódzki
<input type="checkbox" name="city" value="Krośniewice" />
Krośniewice
<input type="checkbox" name="city" value="Kutno" />
Kutno
<input type="checkbox" name="city" value="Łask" />
Łask
<input type="checkbox" name="city" value="Łęczyca" />
Łęczyca
<input type="checkbox" name="city" value="Łowicz" />
Łowicz
<input type="checkbox" name="city" value="Łódź" />
Łódź
<input type="checkbox" name="city" value="Opoczno" />
Opoczno
<input type="checkbox" name="city" value="Ozorków" />
Ozorków
<input type="checkbox" name="city" value="Pabianice" />
Pabianice
<input type="checkbox" name="city" value="Pajęczno" />
Pajęczno
<input type="checkbox" name="city" value="Piotrków Trybunalski" />
Piotrków Trybunalski
<input type="checkbox" name="city" value="Poddębice" />
Poddębice
<input type="checkbox" name="city" value="Przedbórz" />
Przedbórz
<input type="checkbox" name="city" value="Radomsko" />
Radomsko
<input type="checkbox" name="city" value="Rawa Mazowiecka" />
Rawa Mazowiecka
<input type="checkbox" name="city" value="Rzgów" />
Rzgów
<input type="checkbox" name="city" value="Sieradz" />
Sieradz
<input type="checkbox" name="city" value="Skierniewice" />
Skierniewice
<input type="checkbox" name="city" value="Stryków" />
Stryków
<input type="checkbox" name="city" value="Sulejów" />
Sulejów
<input type="checkbox" name="city" value="Szadek" />
Szadek
<input type="checkbox" name="city" value="Tomaszów Mazowiecki" />
Tomaszów Mazowiecki
<input type="checkbox" name="city" value="Tuszyn" />
Tuszyn
<input type="checkbox" name="city" value="Uniejów" />
Uniejów
<input type="checkbox" name="city" value="Warta" />
Warta
<input type="checkbox" name="city" value="Wieluń" />
Wieluń
<input type="checkbox" name="city" value="Wieruszów" />
Wieruszów
<input type="checkbox" name="city" value="Wolbórz" />
Wolbórz
<input type="checkbox" name="city" value="Zduńska Wola" />
Zduńska Wola
<input type="checkbox" name="city" value="Zelów" />
Zelów
<input type="checkbox" name="city" value="Zgierz" />
Zgierz
<input type="checkbox" name="city" value="Złoczew" />
Złoczew
<input type="checkbox" name="city" value="Żychlin" />
Żychlin
</body>
</html>