<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Alwernia">Alwernia</option>
<option value="Andrychów">Andrychów</option>
<option value="Biecz">Biecz</option>
<option value="Bobowa">Bobowa</option>
<option value="Bochnia">Bochnia</option>
<option value="Brzesko">Brzesko</option>
<option value="Brzeszcze">Brzeszcze</option>
<option value="Bukowno">Bukowno</option>
<option value="Chełmek">Chełmek</option>
<option value="Chrzanów">Chrzanów</option>
<option value="Ciężkowice">Ciężkowice</option>
<option value="Czchów">Czchów</option>
<option value="Dąbrowa Tarnowska">Dąbrowa Tarnowska</option>
<option value="Dobczyce">Dobczyce</option>
<option value="Gorlice">Gorlice</option>
<option value="Grybów">Grybów</option>
<option value="Jordanów">Jordanów</option>
<option value="Kalwaria Zebrzydowska">Kalwaria Zebrzydowska</option>
<option value="Kęty">Kęty</option>
<option value="Kraków">Kraków</option>
<option value="Krynica-Zdrój">Krynica-Zdrój</option>
<option value="Krzeszowice">Krzeszowice</option>
<option value="Libiąż">Libiąż</option>
<option value="Limanowa">Limanowa</option>
<option value="Maków Podhalański">Maków Podhalański</option>
<option value="Miechów">Miechów</option>
<option value="Mszana Dolna">Mszana Dolna</option>
<option value="Muszyna">Muszyna</option>
<option value="Myślenice">Myślenice</option>
<option value="Niepołomice">Niepołomice</option>
<option value="Nowe Brzesko">Nowe Brzesko</option>
<option value="Nowy Sącz">Nowy Sącz</option>
<option value="Nowy Targ">Nowy Targ</option>
<option value="Nowy Wiśnicz">Nowy Wiśnicz</option>
<option value="Olkusz">Olkusz</option>
<option value="Oświęcim">Oświęcim</option>
<option value="Piwniczna-Zdrój">Piwniczna-Zdrój</option>
<option value="Proszowice">Proszowice</option>
<option value="Rabka-Zdrój">Rabka-Zdrój</option>
<option value="Radłów">Radłów</option>
<option value="Ryglice">Ryglice</option>
<option value="Skała">Skała</option>
<option value="Skawina">Skawina</option>
<option value="Słomniki">Słomniki</option>
<option value="Stary Sącz">Stary Sącz</option>
<option value="Sucha Beskidzka">Sucha Beskidzka</option>
<option value="Sułkowice">Sułkowice</option>
<option value="Szczawnica">Szczawnica</option>
<option value="Szczucin">Szczucin</option>
<option value="Świątniki Górne">Świątniki Górne</option>
<option value="Tarnów">Tarnów</option>
<option value="Trzebinia">Trzebinia</option>
<option value="Tuchów">Tuchów</option>
<option value="Wadowice">Wadowice</option>
<option value="Wieliczka">Wieliczka</option>
<option value="Wojnicz">Wojnicz</option>
<option value="Wolbrom">Wolbrom</option>
<option value="Zakliczyn">Zakliczyn</option>
<option value="Zakopane">Zakopane</option>
<option value="Zator">Zator</option>
<option value="Żabno">Żabno</option>
</body>
</html>