<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Alwernia" />
Alwernia
<input type="checkbox" name="city" value="Andrychów" />
Andrychów
<input type="checkbox" name="city" value="Biecz" />
Biecz
<input type="checkbox" name="city" value="Bobowa" />
Bobowa
<input type="checkbox" name="city" value="Bochnia" />
Bochnia
<input type="checkbox" name="city" value="Brzesko" />
Brzesko
<input type="checkbox" name="city" value="Brzeszcze" />
Brzeszcze
<input type="checkbox" name="city" value="Bukowno" />
Bukowno
<input type="checkbox" name="city" value="Chełmek" />
Chełmek
<input type="checkbox" name="city" value="Chrzanów" />
Chrzanów
<input type="checkbox" name="city" value="Ciężkowice" />
Ciężkowice
<input type="checkbox" name="city" value="Czchów" />
Czchów
<input type="checkbox" name="city" value="Dąbrowa Tarnowska" />
Dąbrowa Tarnowska
<input type="checkbox" name="city" value="Dobczyce" />
Dobczyce
<input type="checkbox" name="city" value="Gorlice" />
Gorlice
<input type="checkbox" name="city" value="Grybów" />
Grybów
<input type="checkbox" name="city" value="Jordanów" />
Jordanów
<input type="checkbox" name="city" value="Kalwaria Zebrzydowska" />
Kalwaria Zebrzydowska
<input type="checkbox" name="city" value="Kęty" />
Kęty
<input type="checkbox" name="city" value="Kraków" />
Kraków
<input type="checkbox" name="city" value="Krynica-Zdrój" />
Krynica-Zdrój
<input type="checkbox" name="city" value="Krzeszowice" />
Krzeszowice
<input type="checkbox" name="city" value="Libiąż" />
Libiąż
<input type="checkbox" name="city" value="Limanowa" />
Limanowa
<input type="checkbox" name="city" value="Maków Podhalański" />
Maków Podhalański
<input type="checkbox" name="city" value="Miechów" />
Miechów
<input type="checkbox" name="city" value="Mszana Dolna" />
Mszana Dolna
<input type="checkbox" name="city" value="Muszyna" />
Muszyna
<input type="checkbox" name="city" value="Myślenice" />
Myślenice
<input type="checkbox" name="city" value="Niepołomice" />
Niepołomice
<input type="checkbox" name="city" value="Nowe Brzesko" />
Nowe Brzesko
<input type="checkbox" name="city" value="Nowy Sącz" />
Nowy Sącz
<input type="checkbox" name="city" value="Nowy Targ" />
Nowy Targ
<input type="checkbox" name="city" value="Nowy Wiśnicz" />
Nowy Wiśnicz
<input type="checkbox" name="city" value="Olkusz" />
Olkusz
<input type="checkbox" name="city" value="Oświęcim" />
Oświęcim
<input type="checkbox" name="city" value="Piwniczna-Zdrój" />
Piwniczna-Zdrój
<input type="checkbox" name="city" value="Proszowice" />
Proszowice
<input type="checkbox" name="city" value="Rabka-Zdrój" />
Rabka-Zdrój
<input type="checkbox" name="city" value="Radłów" />
Radłów
<input type="checkbox" name="city" value="Ryglice" />
Ryglice
<input type="checkbox" name="city" value="Skała" />
Skała
<input type="checkbox" name="city" value="Skawina" />
Skawina
<input type="checkbox" name="city" value="Słomniki" />
Słomniki
<input type="checkbox" name="city" value="Stary Sącz" />
Stary Sącz
<input type="checkbox" name="city" value="Sucha Beskidzka" />
Sucha Beskidzka
<input type="checkbox" name="city" value="Sułkowice" />
Sułkowice
<input type="checkbox" name="city" value="Szczawnica" />
Szczawnica
<input type="checkbox" name="city" value="Szczucin" />
Szczucin
<input type="checkbox" name="city" value="Świątniki Górne" />
Świątniki Górne
<input type="checkbox" name="city" value="Tarnów" />
Tarnów
<input type="checkbox" name="city" value="Trzebinia" />
Trzebinia
<input type="checkbox" name="city" value="Tuchów" />
Tuchów
<input type="checkbox" name="city" value="Wadowice" />
Wadowice
<input type="checkbox" name="city" value="Wieliczka" />
Wieliczka
<input type="checkbox" name="city" value="Wojnicz" />
Wojnicz
<input type="checkbox" name="city" value="Wolbrom" />
Wolbrom
<input type="checkbox" name="city" value="Zakliczyn" />
Zakliczyn
<input type="checkbox" name="city" value="Zakopane" />
Zakopane
<input type="checkbox" name="city" value="Zator" />
Zator
<input type="checkbox" name="city" value="Żabno" />
Żabno
</body>
</html>