<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Białobrzegi">Białobrzegi</option>
<option value="Bieżuń">Bieżuń</option>
<option value="Błonie">Błonie</option>
<option value="Brok">Brok</option>
<option value="Brwinów">Brwinów</option>
<option value="Chorzele">Chorzele</option>
<option value="Ciechanów">Ciechanów</option>
<option value="Drobin">Drobin</option>
<option value="Garwolin">Garwolin</option>
<option value="Gąbin">Gąbin</option>
<option value="Glinojeck">Glinojeck</option>
<option value="Gostynin">Gostynin</option>
<option value="Góra Kalwaria">Góra Kalwaria</option>
<option value="Grodzisk Mazowiecki">Grodzisk Mazowiecki</option>
<option value="Grójec">Grójec</option>
<option value="Halinów">Halinów</option>
<option value="Iłża">Iłża</option>
<option value="Józefów">Józefów</option>
<option value="Kałuszyn">Kałuszyn</option>
<option value="Karczew">Karczew</option>
<option value="Kobyłka">Kobyłka</option>
<option value="Konstancin-Jeziorna">Konstancin-Jeziorna</option>
<option value="Kosów Lacki">Kosów Lacki</option>
<option value="Kozienice">Kozienice</option>
<option value="Legionowo">Legionowo</option>
<option value="Lipsko">Lipsko</option>
<option value="Łaskarzew">Łaskarzew</option>
<option value="Łochów">Łochów</option>
<option value="Łomianki">Łomianki</option>
<option value="Łosice">Łosice</option>
<option value="Maków Mazowiecki">Maków Mazowiecki</option>
<option value="Marki">Marki</option>
<option value="Milanówek">Milanówek</option>
<option value="Mińsk Mazowiecki">Mińsk Mazowiecki</option>
<option value="Mława">Mława</option>
<option value="Mogielnica">Mogielnica</option>
<option value="Mordy">Mordy</option>
<option value="Mrozy">Mrozy</option>
<option value="Mszczonów">Mszczonów</option>
<option value="Myszyniec">Myszyniec</option>
<option value="Nasielsk">Nasielsk</option>
<option value="Nowe Miasto nad Pilicą">Nowe Miasto nad Pilicą</option>
<option value="Nowy Dwór Mazowiecki">Nowy Dwór Mazowiecki</option>
<option value="Ostrołęka">Ostrołęka</option>
<option value="Ostrów Mazowiecka">Ostrów Mazowiecka</option>
<option value="Otwock">Otwock</option>
<option value="Ożarów Mazowiecki">Ożarów Mazowiecki</option>
<option value="Piaseczno">Piaseczno</option>
<option value="Piastów">Piastów</option>
<option value="Pilawa">Pilawa</option>
<option value="Pionki">Pionki</option>
<option value="Płock">Płock</option>
<option value="Płońsk">Płońsk</option>
<option value="Podkowa Leśna">Podkowa Leśna</option>
<option value="Pruszków">Pruszków</option>
<option value="Przasnysz">Przasnysz</option>
<option value="Przysucha">Przysucha</option>
<option value="Pułtusk">Pułtusk</option>
<option value="Raciąż">Raciąż</option>
<option value="Radom">Radom</option>
<option value="Radzymin">Radzymin</option>
<option value="Różan">Różan</option>
<option value="Serock">Serock</option>
<option value="Siedlce">Siedlce</option>
<option value="Sierpc">Sierpc</option>
<option value="Skaryszew">Skaryszew</option>
<option value="Sochaczew">Sochaczew</option>
<option value="Sokołów Podlaski">Sokołów Podlaski</option>
<option value="Sulejówek">Sulejówek</option>
<option value="Szydłowiec">Szydłowiec</option>
<option value="Tarczyn">Tarczyn</option>
<option value="Tłuszcz">Tłuszcz</option>
<option value="Warka">Warka</option>
<option value="Warszawa">Warszawa</option>
<option value="Węgrów">Węgrów</option>
<option value="Wołomin">Wołomin</option>
<option value="Wyszków">Wyszków</option>
<option value="Wyszogród">Wyszogród</option>
<option value="Wyśmierzyce">Wyśmierzyce</option>
<option value="Zakroczym">Zakroczym</option>
<option value="Ząbki">Ząbki</option>
<option value="Zielonka">Zielonka</option>
<option value="Zwoleń">Zwoleń</option>
<option value="Żelechów">Żelechów</option>
<option value="Żuromin">Żuromin</option>
<option value="Żyrardów">Żyrardów</option>
</body>
</html>