<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Białobrzegi" />
Białobrzegi
<input type="checkbox" name="city" value="Bieżuń" />
Bieżuń
<input type="checkbox" name="city" value="Błonie" />
Błonie
<input type="checkbox" name="city" value="Brok" />
Brok
<input type="checkbox" name="city" value="Brwinów" />
Brwinów
<input type="checkbox" name="city" value="Chorzele" />
Chorzele
<input type="checkbox" name="city" value="Ciechanów" />
Ciechanów
<input type="checkbox" name="city" value="Drobin" />
Drobin
<input type="checkbox" name="city" value="Garwolin" />
Garwolin
<input type="checkbox" name="city" value="Gąbin" />
Gąbin
<input type="checkbox" name="city" value="Glinojeck" />
Glinojeck
<input type="checkbox" name="city" value="Gostynin" />
Gostynin
<input type="checkbox" name="city" value="Góra Kalwaria" />
Góra Kalwaria
<input type="checkbox" name="city" value="Grodzisk Mazowiecki" />
Grodzisk Mazowiecki
<input type="checkbox" name="city" value="Grójec" />
Grójec
<input type="checkbox" name="city" value="Halinów" />
Halinów
<input type="checkbox" name="city" value="Iłża" />
Iłża
<input type="checkbox" name="city" value="Józefów" />
Józefów
<input type="checkbox" name="city" value="Kałuszyn" />
Kałuszyn
<input type="checkbox" name="city" value="Karczew" />
Karczew
<input type="checkbox" name="city" value="Kobyłka" />
Kobyłka
<input type="checkbox" name="city" value="Konstancin-Jeziorna" />
Konstancin-Jeziorna
<input type="checkbox" name="city" value="Kosów Lacki" />
Kosów Lacki
<input type="checkbox" name="city" value="Kozienice" />
Kozienice
<input type="checkbox" name="city" value="Legionowo" />
Legionowo
<input type="checkbox" name="city" value="Lipsko" />
Lipsko
<input type="checkbox" name="city" value="Łaskarzew" />
Łaskarzew
<input type="checkbox" name="city" value="Łochów" />
Łochów
<input type="checkbox" name="city" value="Łomianki" />
Łomianki
<input type="checkbox" name="city" value="Łosice" />
Łosice
<input type="checkbox" name="city" value="Maków Mazowiecki" />
Maków Mazowiecki
<input type="checkbox" name="city" value="Marki" />
Marki
<input type="checkbox" name="city" value="Milanówek" />
Milanówek
<input type="checkbox" name="city" value="Mińsk Mazowiecki" />
Mińsk Mazowiecki
<input type="checkbox" name="city" value="Mława" />
Mława
<input type="checkbox" name="city" value="Mogielnica" />
Mogielnica
<input type="checkbox" name="city" value="Mordy" />
Mordy
<input type="checkbox" name="city" value="Mrozy" />
Mrozy
<input type="checkbox" name="city" value="Mszczonów" />
Mszczonów
<input type="checkbox" name="city" value="Myszyniec" />
Myszyniec
<input type="checkbox" name="city" value="Nasielsk" />
Nasielsk
<input type="checkbox" name="city" value="Nowe Miasto nad Pilicą" />
Nowe Miasto nad Pilicą
<input type="checkbox" name="city" value="Nowy Dwór Mazowiecki" />
Nowy Dwór Mazowiecki
<input type="checkbox" name="city" value="Ostrołęka" />
Ostrołęka
<input type="checkbox" name="city" value="Ostrów Mazowiecka" />
Ostrów Mazowiecka
<input type="checkbox" name="city" value="Otwock" />
Otwock
<input type="checkbox" name="city" value="Ożarów Mazowiecki" />
Ożarów Mazowiecki
<input type="checkbox" name="city" value="Piaseczno" />
Piaseczno
<input type="checkbox" name="city" value="Piastów" />
Piastów
<input type="checkbox" name="city" value="Pilawa" />
Pilawa
<input type="checkbox" name="city" value="Pionki" />
Pionki
<input type="checkbox" name="city" value="Płock" />
Płock
<input type="checkbox" name="city" value="Płońsk" />
Płońsk
<input type="checkbox" name="city" value="Podkowa Leśna" />
Podkowa Leśna
<input type="checkbox" name="city" value="Pruszków" />
Pruszków
<input type="checkbox" name="city" value="Przasnysz" />
Przasnysz
<input type="checkbox" name="city" value="Przysucha" />
Przysucha
<input type="checkbox" name="city" value="Pułtusk" />
Pułtusk
<input type="checkbox" name="city" value="Raciąż" />
Raciąż
<input type="checkbox" name="city" value="Radom" />
Radom
<input type="checkbox" name="city" value="Radzymin" />
Radzymin
<input type="checkbox" name="city" value="Różan" />
Różan
<input type="checkbox" name="city" value="Serock" />
Serock
<input type="checkbox" name="city" value="Siedlce" />
Siedlce
<input type="checkbox" name="city" value="Sierpc" />
Sierpc
<input type="checkbox" name="city" value="Skaryszew" />
Skaryszew
<input type="checkbox" name="city" value="Sochaczew" />
Sochaczew
<input type="checkbox" name="city" value="Sokołów Podlaski" />
Sokołów Podlaski
<input type="checkbox" name="city" value="Sulejówek" />
Sulejówek
<input type="checkbox" name="city" value="Szydłowiec" />
Szydłowiec
<input type="checkbox" name="city" value="Tarczyn" />
Tarczyn
<input type="checkbox" name="city" value="Tłuszcz" />
Tłuszcz
<input type="checkbox" name="city" value="Warka" />
Warka
<input type="checkbox" name="city" value="Warszawa" />
Warszawa
<input type="checkbox" name="city" value="Węgrów" />
Węgrów
<input type="checkbox" name="city" value="Wołomin" />
Wołomin
<input type="checkbox" name="city" value="Wyszków" />
Wyszków
<input type="checkbox" name="city" value="Wyszogród" />
Wyszogród
<input type="checkbox" name="city" value="Wyśmierzyce" />
Wyśmierzyce
<input type="checkbox" name="city" value="Zakroczym" />
Zakroczym
<input type="checkbox" name="city" value="Ząbki" />
Ząbki
<input type="checkbox" name="city" value="Zielonka" />
Zielonka
<input type="checkbox" name="city" value="Zwoleń" />
Zwoleń
<input type="checkbox" name="city" value="Żelechów" />
Żelechów
<input type="checkbox" name="city" value="Żuromin" />
Żuromin
<input type="checkbox" name="city" value="Żyrardów" />
Żyrardów
</body>
</html>