<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Baborów">Baborów</option>
<option value="Biała">Biała</option>
<option value="Brzeg">Brzeg</option>
<option value="Byczyna">Byczyna</option>
<option value="Dobrodzień">Dobrodzień</option>
<option value="Głogówek">Głogówek</option>
<option value="Głubczyce">Głubczyce</option>
<option value="Głuchołazy">Głuchołazy</option>
<option value="Gogolin">Gogolin</option>
<option value="Gorzów Śląski">Gorzów Śląski</option>
<option value="Grodków">Grodków</option>
<option value="Kędzierzyn-Koźle">Kędzierzyn-Koźle</option>
<option value="Kietrz">Kietrz</option>
<option value="Kluczbork">Kluczbork</option>
<option value="Kolonowskie">Kolonowskie</option>
<option value="Korfantów">Korfantów</option>
<option value="Krapkowice">Krapkowice</option>
<option value="Leśnica">Leśnica</option>
<option value="Lewin Brzeski">Lewin Brzeski</option>
<option value="Namysłów">Namysłów</option>
<option value="Niemodlin">Niemodlin</option>
<option value="Nysa">Nysa</option>
<option value="Olesno">Olesno</option>
<option value="Opole">Opole</option>
<option value="Otmuchów">Otmuchów</option>
<option value="Ozimek">Ozimek</option>
<option value="Paczków">Paczków</option>
<option value="Praszka">Praszka</option>
<option value="Prószków">Prószków</option>
<option value="Prudnik">Prudnik</option>
<option value="Strzelce Opolskie">Strzelce Opolskie</option>
<option value="Ujazd">Ujazd</option>
<option value="Wołczyn">Wołczyn</option>
<option value="Zawadzkie">Zawadzkie</option>
<option value="Zdzieszowice">Zdzieszowice</option>
</body>
</html>