<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Baborów" />
Baborów
<input type="checkbox" name="city" value="Biała" />
Biała
<input type="checkbox" name="city" value="Brzeg" />
Brzeg
<input type="checkbox" name="city" value="Byczyna" />
Byczyna
<input type="checkbox" name="city" value="Dobrodzień" />
Dobrodzień
<input type="checkbox" name="city" value="Głogówek" />
Głogówek
<input type="checkbox" name="city" value="Głubczyce" />
Głubczyce
<input type="checkbox" name="city" value="Głuchołazy" />
Głuchołazy
<input type="checkbox" name="city" value="Gogolin" />
Gogolin
<input type="checkbox" name="city" value="Gorzów Śląski" />
Gorzów Śląski
<input type="checkbox" name="city" value="Grodków" />
Grodków
<input type="checkbox" name="city" value="Kędzierzyn-Koźle" />
Kędzierzyn-Koźle
<input type="checkbox" name="city" value="Kietrz" />
Kietrz
<input type="checkbox" name="city" value="Kluczbork" />
Kluczbork
<input type="checkbox" name="city" value="Kolonowskie" />
Kolonowskie
<input type="checkbox" name="city" value="Korfantów" />
Korfantów
<input type="checkbox" name="city" value="Krapkowice" />
Krapkowice
<input type="checkbox" name="city" value="Leśnica" />
Leśnica
<input type="checkbox" name="city" value="Lewin Brzeski" />
Lewin Brzeski
<input type="checkbox" name="city" value="Namysłów" />
Namysłów
<input type="checkbox" name="city" value="Niemodlin" />
Niemodlin
<input type="checkbox" name="city" value="Nysa" />
Nysa
<input type="checkbox" name="city" value="Olesno" />
Olesno
<input type="checkbox" name="city" value="Opole" />
Opole
<input type="checkbox" name="city" value="Otmuchów" />
Otmuchów
<input type="checkbox" name="city" value="Ozimek" />
Ozimek
<input type="checkbox" name="city" value="Paczków" />
Paczków
<input type="checkbox" name="city" value="Praszka" />
Praszka
<input type="checkbox" name="city" value="Prószków" />
Prószków
<input type="checkbox" name="city" value="Prudnik" />
Prudnik
<input type="checkbox" name="city" value="Strzelce Opolskie" />
Strzelce Opolskie
<input type="checkbox" name="city" value="Ujazd" />
Ujazd
<input type="checkbox" name="city" value="Wołczyn" />
Wołczyn
<input type="checkbox" name="city" value="Zawadzkie" />
Zawadzkie
<input type="checkbox" name="city" value="Zdzieszowice" />
Zdzieszowice
</body>
</html>