<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz miasto</option>
<option value="Baranów Sandomierski">Baranów Sandomierski</option>
<option value="Błażowa">Błażowa</option>
<option value="Boguchwała">Boguchwała</option>
<option value="Brzostek">Brzostek</option>
<option value="Brzozów">Brzozów</option>
<option value="Cieszanów">Cieszanów</option>
<option value="Dębica">Dębica</option>
<option value="Dukla">Dukla</option>
<option value="Dynów">Dynów</option>
<option value="Głogów Małopolski">Głogów Małopolski</option>
<option value="Iwonicz-Zdrój">Iwonicz-Zdrój</option>
<option value="Jarosław">Jarosław</option>
<option value="Jasło">Jasło</option>
<option value="Jedlicze">Jedlicze</option>
<option value="Kańczuga">Kańczuga</option>
<option value="Kolbuszowa">Kolbuszowa</option>
<option value="Kołaczyce">Kołaczyce</option>
<option value="Krosno">Krosno</option>
<option value="Lesko">Lesko</option>
<option value="Leżajsk">Leżajsk</option>
<option value="Lubaczów">Lubaczów</option>
<option value="Łańcut">Łańcut</option>
<option value="Mielec">Mielec</option>
<option value="Narol">Narol</option>
<option value="Nisko">Nisko</option>
<option value="Nowa Dęba">Nowa Dęba</option>
<option value="Nowa Sarzyna">Nowa Sarzyna</option>
<option value="Oleszyce">Oleszyce</option>
<option value="Pilzno">Pilzno</option>
<option value="Pruchnik">Pruchnik</option>
<option value="Przecław">Przecław</option>
<option value="Przemyśl">Przemyśl</option>
<option value="Przeworsk">Przeworsk</option>
<option value="Radomyśl Wielki">Radomyśl Wielki</option>
<option value="Radymno">Radymno</option>
<option value="Ropczyce">Ropczyce</option>
<option value="Rudnik nad Sanem">Rudnik nad Sanem</option>
<option value="Rymanów">Rymanów</option>
<option value="Rzeszów">Rzeszów</option>
<option value="Sanok">Sanok</option>
<option value="Sędziszów Małopolski">Sędziszów Małopolski</option>
<option value="Sieniawa">Sieniawa</option>
<option value="Sokołów Małopolski">Sokołów Małopolski</option>
<option value="Stalowa Wola">Stalowa Wola</option>
<option value="Strzyżów">Strzyżów</option>
<option value="Tarnobrzeg">Tarnobrzeg</option>
<option value="Tyczyn">Tyczyn</option>
<option value="Ulanów">Ulanów</option>
<option value="Ustrzyki Dolne">Ustrzyki Dolne</option>
<option value="Zagórz">Zagórz</option>
<option value="Zaklików">Zaklików</option>
</body>
</html>