<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="checkbox" name="city" value="Baranów Sandomierski" />
Baranów Sandomierski
<input type="checkbox" name="city" value="Błażowa" />
Błażowa
<input type="checkbox" name="city" value="Boguchwała" />
Boguchwała
<input type="checkbox" name="city" value="Brzostek" />
Brzostek
<input type="checkbox" name="city" value="Brzozów" />
Brzozów
<input type="checkbox" name="city" value="Cieszanów" />
Cieszanów
<input type="checkbox" name="city" value="Dębica" />
Dębica
<input type="checkbox" name="city" value="Dukla" />
Dukla
<input type="checkbox" name="city" value="Dynów" />
Dynów
<input type="checkbox" name="city" value="Głogów Małopolski" />
Głogów Małopolski
<input type="checkbox" name="city" value="Iwonicz-Zdrój" />
Iwonicz-Zdrój
<input type="checkbox" name="city" value="Jarosław" />
Jarosław
<input type="checkbox" name="city" value="Jasło" />
Jasło
<input type="checkbox" name="city" value="Jedlicze" />
Jedlicze
<input type="checkbox" name="city" value="Kańczuga" />
Kańczuga
<input type="checkbox" name="city" value="Kolbuszowa" />
Kolbuszowa
<input type="checkbox" name="city" value="Kołaczyce" />
Kołaczyce
<input type="checkbox" name="city" value="Krosno" />
Krosno
<input type="checkbox" name="city" value="Lesko" />
Lesko
<input type="checkbox" name="city" value="Leżajsk" />
Leżajsk
<input type="checkbox" name="city" value="Lubaczów" />
Lubaczów
<input type="checkbox" name="city" value="Łańcut" />
Łańcut
<input type="checkbox" name="city" value="Mielec" />
Mielec
<input type="checkbox" name="city" value="Narol" />
Narol
<input type="checkbox" name="city" value="Nisko" />
Nisko
<input type="checkbox" name="city" value="Nowa Dęba" />
Nowa Dęba
<input type="checkbox" name="city" value="Nowa Sarzyna" />
Nowa Sarzyna
<input type="checkbox" name="city" value="Oleszyce" />
Oleszyce
<input type="checkbox" name="city" value="Pilzno" />
Pilzno
<input type="checkbox" name="city" value="Pruchnik" />
Pruchnik
<input type="checkbox" name="city" value="Przecław" />
Przecław
<input type="checkbox" name="city" value="Przemyśl" />
Przemyśl
<input type="checkbox" name="city" value="Przeworsk" />
Przeworsk
<input type="checkbox" name="city" value="Radomyśl Wielki" />
Radomyśl Wielki
<input type="checkbox" name="city" value="Radymno" />
Radymno
<input type="checkbox" name="city" value="Ropczyce" />
Ropczyce
<input type="checkbox" name="city" value="Rudnik nad Sanem" />
Rudnik nad Sanem
<input type="checkbox" name="city" value="Rymanów" />
Rymanów
<input type="checkbox" name="city" value="Rzeszów" />
Rzeszów
<input type="checkbox" name="city" value="Sanok" />
Sanok
<input type="checkbox" name="city" value="Sędziszów Małopolski" />
Sędziszów Małopolski
<input type="checkbox" name="city" value="Sieniawa" />
Sieniawa
<input type="checkbox" name="city" value="Sokołów Małopolski" />
Sokołów Małopolski
<input type="checkbox" name="city" value="Stalowa Wola" />
Stalowa Wola
<input type="checkbox" name="city" value="Strzyżów" />
Strzyżów
<input type="checkbox" name="city" value="Tarnobrzeg" />
Tarnobrzeg
<input type="checkbox" name="city" value="Tyczyn" />
Tyczyn
<input type="checkbox" name="city" value="Ulanów" />
Ulanów
<input type="checkbox" name="city" value="Ustrzyki Dolne" />
Ustrzyki Dolne
<input type="checkbox" name="city" value="Zagórz" />
Zagórz
<input type="checkbox" name="city" value="Zaklików" />
Zaklików
</body>
</html>