<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz województwo</option>
<option value="dolnośląskie" id="id1">dolnośląskie</option>
<option value="kujawsko-pomorskie" id="id2">kujawsko-pomorskie</option>
<option value="lubelskie" id="id3">lubelskie</option>
<option value="lubuskie" id="id4">lubuskie</option>
<option value="łódzkie" id="id5">łódzkie</option>
<option value="małopolskie" id="id6">małopolskie</option>
<option value="mazowieckie" id="id7">mazowieckie</option>
<option value="opolskie" id="id8">opolskie</option>
<option value="podkarpackie" id="id9">podkarpackie</option>
<option value="podlaskie" id="id10">podlaskie</option>
<option value="pomorskie" id="id11">pomorskie</option>
<option value="śląskie" id="id12">śląskie</option>
<option value="świętokrzyskie" id="id13">świętokrzyskie</option>
<option value="warmińsko-mazurskie" id="id14">warmińsko-mazurskie</option>
<option value="wielkopolskie" id="id15">wielkopolskie</option>
<option value="zachodniopomorskie" id="id16">zachodniopomorskie</option>
</body>
</html>