<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<option value="SELECT" disabled selected>Wybierz przedmiot</option>
<option value="aktorstwo ">aktorstwo</option>
<option value="algebra ">algebra</option>
<option value="analiza matematyczna ">analiza matematyczna</option>
<option value="anatomia ">anatomia</option>
<option value="architektura ">architektura</option>
<option value="astronomia ">astronomia</option>
<option value="automatyka ">automatyka</option>
<option value="badania operacyjne ">badania operacyjne</option>
<option value="BHP ">BHP</option>
<option value="bibliotekoznawstwo ">bibliotekoznawstwo</option>
<option value="biochemia ">biochemia</option>
<option value="biologia ">biologia</option>
<option value="biologia molekularna ">biologia molekularna</option>
<option value="brydż ">brydż</option>
<option value="budownictwo ">budownictwo</option>
<option value="ceramika ">ceramika</option>
<option value="chemia ">chemia</option>
<option value="doradztwo zawodowe ">doradztwo zawodowe</option>
<option value="dziennikarstwo ">dziennikarstwo</option>
<option value="efektywna nauka ">efektywna nauka</option>
<option value="ekonometria ">ekonometria</option>
<option value="ekonomia ">ekonomia</option>
<option value="ekonomia matematyczna ">ekonomia matematyczna</option>
<option value="elektroenergetyka ">elektroenergetyka</option>
<option value="elektronika ">elektronika</option>
<option value="elektrotechnika ">elektrotechnika</option>
<option value="emisja głosu ">emisja głosu</option>
<option value="energetyka ">energetyka</option>
<option value="energoelektronika ">energoelektronika</option>
<option value="ergonomia ">ergonomia</option>
<option value="etyka ">etyka</option>
<option value="etykieta biznesu ">etykieta biznesu</option>
<option value="farmacja ">farmacja</option>
<option value="filozofia ">filozofia</option>
<option value="finanse i rachunkowość ">finanse i rachunkowość</option>
<option value="fitness ">fitness</option>
<option value="fizyka ">fizyka</option>
<option value="florystyka ">florystyka</option>
<option value="fotografia ">fotografia</option>
<option value="fryzjerstwo ">fryzjerstwo</option>
<option value="genetyka ">genetyka</option>
<option value="geodezja ">geodezja</option>
<option value="geografia ">geografia</option>
<option value="geologia ">geologia</option>
<option value="geometria wykreślna ">geometria wykreślna</option>
<option value="grafika komputerowa ">grafika komputerowa</option>
<option value="historia ">historia</option>
<option value="historia sztuki ">historia sztuki</option>
<option value="hotelarstwo ">hotelarstwo</option>
<option value="informatyka ">informatyka</option>
<option value="inżynieria chemiczna ">inżynieria chemiczna</option>
<option value="jazda konna ">jazda konna</option>
<option value="jazda na deskorolce ">jazda na deskorolce</option>
<option value="jazda na nartach ">jazda na nartach</option>
<option value="język afrikaans ">język afrikaans</option>
<option value="język akadyjski ">język akadyjski</option>
<option value="język albański ">język albański</option>
<option value="język angielski ">język angielski</option>
<option value="język arabski ">język arabski</option>
<option value="język azerbejdżański ">język azerbejdżański</option>
<option value="język białoruski ">język białoruski</option>
<option value="język bułgarski ">język bułgarski</option>
<option value="język chiński ">język chiński</option>
<option value="język chorwacki ">język chorwacki</option>
<option value="język czeski ">język czeski</option>
<option value="język dari ">język dari</option>
<option value="język duński ">język duński</option>
<option value="język egipski ">język egipski</option>
<option value="język esperanto ">język esperanto</option>
<option value="język estoński ">język estoński</option>
<option value="język fiński ">język fiński</option>
<option value="język francuski ">język francuski</option>
<option value="język grecki ">język grecki</option>
<option value="język gruziński ">język gruziński</option>
<option value="język hebrajski ">język hebrajski</option>
<option value="język hindi ">język hindi</option>
<option value="język hiszpański ">język hiszpański</option>
<option value="język holenderski ">język holenderski</option>
<option value="język indonezyjski ">język indonezyjski</option>
<option value="język islandzki ">język islandzki</option>
<option value="język japoński ">język japoński</option>
<option value="język jidysz ">język jidysz</option>
<option value="język kataloński ">język kataloński</option>
<option value="język koreański ">język koreański</option>
<option value="język litewski ">język litewski</option>
<option value="język łotewski ">język łotewski</option>
<option value="język łużycki ">język łużycki</option>
<option value="język macedoński ">język macedoński</option>
<option value="język migowy ">język migowy</option>
<option value="język mongolski ">język mongolski</option>
<option value="język niderlandzki ">język niderlandzki</option>
<option value="język niemiecki ">język niemiecki</option>
<option value="język norweski ">język norweski</option>
<option value="język paszto ">język paszto</option>
<option value="język perski ">język perski</option>
<option value="język polski ">język polski</option>
<option value="język polski dla cudzoziemców ">język polski dla cudzoziemców</option>
<option value="język portugalski ">język portugalski</option>
<option value="język rosyjski ">język rosyjski</option>
<option value="język rumuński ">język rumuński</option>
<option value="język serbski ">język serbski</option>
<option value="język słowacki ">język słowacki</option>
<option value="język słoweński ">język słoweński</option>
<option value="język sumeryjski ">język sumeryjski</option>
<option value="język szwedzki ">język szwedzki</option>
<option value="język tajski ">język tajski</option>
<option value="język turecki ">język turecki</option>
<option value="język tybetański ">język tybetański</option>
<option value="język ukraiński ">język ukraiński</option>
<option value="język uzbecki ">język uzbecki</option>
<option value="język węgierski ">język węgierski</option>
<option value="język wietnamski ">język wietnamski</option>
<option value="język włoski ">język włoski</option>
<option value="konstrukcje inżynierskie ">konstrukcje inżynierskie</option>
<option value="kosmetologia ">kosmetologia</option>
<option value="łacina ">łacina</option>
<option value="logika ">logika</option>
<option value="logistyka ">logistyka</option>
<option value="logopedia ">logopedia</option>
<option value="malarstwo i rysunek ">malarstwo i rysunek</option>
<option value="marketing ">marketing</option>
<option value="matematyka ">matematyka</option>
<option value="matematyka dyskretna ">matematyka dyskretna</option>
<option value="matematyka wyższa ">matematyka wyższa</option>
<option value="mechanika ">mechanika</option>
<option value="mechanika budowli ">mechanika budowli</option>
<option value="mechanika płynów ">mechanika płynów</option>
<option value="medycyna ">medycyna</option>
<option value="metodologia badań ">metodologia badań</option>
<option value="metody numeryczne ">metody numeryczne</option>
<option value="mikrobiologia ">mikrobiologia</option>
<option value="modelarstwo ">modelarstwo</option>
<option value="motywacja ">motywacja</option>
<option value="muzyka ">muzyka</option>
<option value="nauczanie początkowe ">nauczanie początkowe</option>
<option value="nauka jazdy ">nauka jazdy</option>
<option value="nauka o materiałach ">nauka o materiałach</option>
<option value="obsługa komputera ">obsługa komputera</option>
<option value="ochrona środowiska ">ochrona środowiska</option>
<option value="pedagogika ">pedagogika</option>
<option value="pływanie ">pływanie</option>
<option value="podstawy konstrukcji maszyn ">podstawy konstrukcji maszyn</option>
<option value="politologia ">politologia</option>
<option value="pozycjonowanie stron ">pozycjonowanie stron</option>
<option value="prawo ">prawo</option>
<option value="prognozowanie ">prognozowanie</option>
<option value="programowanie ">programowanie</option>
<option value="przedsiębiorczość ">przedsiębiorczość</option>
<option value="przyroda ">przyroda</option>
<option value="psychologia ">psychologia</option>
<option value="public relations ">public relations</option>
<option value="rachunek prawdopodobieństwa ">rachunek prawdopodobieństwa</option>
<option value="rachunkowość ">rachunkowość</option>
<option value="rolnictwo ">rolnictwo</option>
<option value="rysunek techniczny ">rysunek techniczny</option>
<option value="rzeźba ">rzeźba</option>
<option value="samoobrona ">samoobrona</option>
<option value="jazda na snowboardzie ">jazda na snowboardzie</option>
<option value="socjologia ">socjologia</option>
<option value="statystyka ">statystyka</option>
<option value="szachy ">szachy</option>
<option value="sztuka cyrkowa ">sztuka cyrkowa</option>
<option value="szycie na maszynie ">szycie na maszynie</option>
<option value="taniec ">taniec</option>
<option value="techniki pamięciowe ">techniki pamięciowe</option>
<option value="telekomunikacja ">telekomunikacja</option>
<option value="tenis ">tenis</option>
<option value="termodynamika ">termodynamika</option>
<option value="turystyka ">turystyka</option>
<option value="tworzenie stron ">tworzenie stron</option>
<option value="witraż ">witraż</option>
<option value="wos ">wos</option>
<option value="wytrzymałość materiałów ">wytrzymałość materiałów</option>
<option value="zarządzanie ">zarządzanie</option>
<option value="żeglarstwo">żeglarstwo</option>
</body>
</html>